/**
 * @file
 * Compiler-free barefoot CSS.
 */

.page-center {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1em;
}

.page-level--header {
  background: #e8e8e8;
}
.page-level--main {
  background: white;
}
.page-level--footer {
  background: #e8e8e8;
}
