/**
 * @file
 * 'Master' stylesheet.
 *
 * Used for stitching the partials together.
 *
 * NOTE: files with names pre- or suffixed with 'shared' get included from the
 * public/shared_assets directory. Those files can be included in any of the
 * installed themes, so they should be handled with awareness of this fact.
 */
/**
 * @file
 * Definitions of variables + further Compass setup.
 *
 * On configuring Compass:
 * @see
 * http://compass-style.org/help/documentation/configuration-reference/
 * http://compass-style.org/help/documentation/sass-based-configuration-options/
 * http://compass-style.org/index/variables/
 *
 * On using Compass:
 * @see
 * http://compass-style.org/reference/compass/
 * http://compass-style.org/index/mixins/
 * http://compass-style.org/index/functions/
 *
 * On rgba() colors:
 * @see
 * http://thesassway.com/intermediate/mixins-for-semi-transparent-colors
 *
 *
 * On further plugins:
 * @see
 * http://snugug.com/musings/introducing-breakpoint-media-queries-made-easy
 * https://github.com/codingdesigner/breakpoint/blob/master/README.markdown
 * https://github.com/at-import/breakpoint/wiki/Advanced-Media-Queries
 *
 * https://github.com/at-import/Singularity
 *
 * On everything:
 * @see
 * http://caniuse.com/
 * http://mcdlr.com/8/ ('Useful UTF-8 Characters')
 */
/* LEGEND for the breakpoint variables:
| <- $layout-page-min-width                          $layout-page-max-width -> |
|                                                                              |
|             <- narrow ->              |              <- wide ->              |
|                                       |                                      |
|   narrow   |   narrow   |   narrow    |    wide    |    wide    |    wide    |
|  lowthird  |  midthird  |  highthird  |  lowthird  |  midthird  |  highthird |
| (narrow-lt)| (narrow-mt)| (narrow-ht) |  (wide-lt) |  (wide-mt) |  (wide-ht) |
*/
/**
 * @file
 * Theme-specific custom mixins.
 *
 * Mixins vs Extending utility-role Placeholders?
 *
 * Mixins won, placeholders lost so badly that they will not be used. Repetition
 * originating from using mixins will be mitigated by gzip serving the resulting
 * files (gzip works well on repeated patterns, they say).
 *
 * @see
 * http://www.sitepoint.com/avoid-sass-extend/
 * http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/
 *
 * NOTES on basic syntax:
 * @code
 *
 * @mixin test-mixin--box($bg: gold, $padding: 1em) {
 *   background: $bg;
 *   padding: $padding;
 *
 *   @if $bg == (gold) and $padding == (1em) {
 *     border: 1px solid red;
 *   }
 *   @else if $bg == (gold) and $padding != (1em) {
 *     border: 5px solid red;
 *   }
 *   @else {
 *     border: 3px solid black;
 *   }
 * }
 *
 * @endcode
 */
/**
 * Allow buttons to have distinct shadow effects in complex situations.
 *
 * Complex situations arise when we want to replace CSS outline (on focus) with
 * outer box shadows, and then, upon focus event, alongside the new
 * focus-indicating shadows, we want to keep the original inset box shadows too
 * that were originally part of the standard button appearance.
 */
/**
 * Sys notification styles.
 */
/* Messages layout. */
.messages-container {
  color: #333;
}

.messages {
  padding: 0.5em;
}

.messages + .messages {
  margin-top: 0.5em;
}

.messages-container ul {
  margin: 0;
  padding: 0 0 0 2em;
}

.messages pre {
  margin-bottom: 2em;
  overflow: visible;
}

.messages li:last-child pre {
  margin-bottom: 1em;
}

/* Messages colors. */
.messages-container .info {
  background: #afa;
  border: 1px solid green;
}

.messages-container .info a,
.messages-container .info a:hover {
  color: #090;
}

.messages-container .warning {
  background: #ffa;
  border: 1px solid orange;
}

.messages-container .warning a,
.messages-container .warning a:hover {
  color: #c80;
}

.messages-container .alert {
  background: pink;
  border: 1px solid red;
}

.messages-container .alert a,
.messages-container .alert a:hover {
  color: #b00;
}

.messages-container .debug {
  background: #E7F1F5;
  border: 1px solid cornflowerblue;
}

.messages-container .debug a,
.messages-container .debug a:hover {
  color: dodgerblue;
}

/**
 * @file
 * Base styles.
 *
 * Looks like just some custom extensions to normalize.css stuff.
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 103%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.pseudo-heading {
  line-height: 1.25;
}

h1,
.h1 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

h2,
.h2 {
  font-size: 1.6em;
  margin-top: 1.75em;
  margin-bottom: 0.85em;
}

article h2,
article .h2 {
  border-bottom: 1px solid #ccc;
  font-size: 1.6em;
  padding-bottom: 0.25em;
  margin-bottom: 0.85em;
}

h3,
.h3 {
  font-size: 1.45em;
  margin-top: 1.75em;
  margin-bottom: 0.85em;
}

h4,
.h4 {
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 0.65em;
}

h5,
.h5 {
  font-size: 1.15em;
  margin-top: 1.5em;
  margin-bottom: 0.65em;
}

h6,
.h6 {
  font-size: 1.05em;
  margin-top: 1.5em;
  margin-bottom: 0.6em;
}

ul {
  padding-left: 1em;
}

ol {
  padding-left: 1.35em;
}

dt {
  font-style: italic;
  font-weight: 700;
}
dd + dt {
  margin-top: 0.3em;
}

dd {
  margin-left: 1em;
}

a {
  word-wrap: break-word;
}

code {
  font-size: 0.8em;
  word-wrap: break-word;
}

.messages .code {
  font-size: 0.9em;
}

pre code {
  word-wrap: normal;
  display: block;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
}

table {
  font-size: 0.9em;
  width: 100%;
}

th {
  text-align: left;
  vertical-align: top;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.25em 0.35em;
}

.table__wrap {
  max-width: 100%;
  overflow: auto;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.pseudo-heading:first-child {
  margin-top: -0.25em;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child {
  margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child {
  margin-bottom: 0;
}

hr {
  height: 0;
  background: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.lt-ie9 img {
  max-width: none;
}

.label {
  color: #777;
  font-style: italic;
  font-size: 0.9em;
}
.label:after {
  content: ':';
}
.label.mute:after {
  content: none;
}

.button--action {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 1em;
  outline: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  background-color: #b34db2;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.button--action, .button--action:visited, .button--action:hover {
  color: white;
}
.button--action:hover {
  background-color: #a145a1;
}
.button--action:focus {
  outline: none;
  -moz-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  border: none;
}

.button--nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 1em;
  outline: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  background-color: #5a5aa6;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.button--nav, .button--nav:visited, .button--nav:hover {
  color: white;
}
.button--nav:hover {
  background-color: #515195;
}
.button--nav:focus {
  outline: none;
  -moz-box-shadow: white 0 0 1px 1px, #5a5aa6 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: white 0 0 1px 1px, #5a5aa6 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: white 0 0 1px 1px, #5a5aa6 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  border: none;
}

.jump-links {
  background: #333;
  height: 0;
  position: relative;
}

a.jump-link {
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -moz-transition-duration: 0.1s, 0.1s;
  -o-transition-duration: 0.1s, 0.1s;
  -webkit-transition-duration: 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #333;
  background: rgba(51, 51, 51, 0.75);
  display: block;
  left: 50%;
  line-height: 2em;
  margin-left: -150px;
  position: absolute;
  opacity: 0;
  outline: 0;
  text-decoration: none;
  text-align: center;
  top: -2em;
  width: 300px;
  z-index: 1000;
}
a.jump-link, a.jump-link:focus, a.jump-link:hover {
  border: 1px solid rgba(156, 156, 202, 0.75);
  color: white;
  text-decoration: none;
}

.jump-link:focus {
  opacity: 1;
  top: -1px;
}

#navigation:focus,
.primary-content:focus,
#modal--common:focus {
  outline: none;
}

span.anchor {
  display: inline-block;
  position: relative;
  top: -0.75em;
  vertical-align: text-top;
}

.hidden {
  height: 1px;
  left: -9000em;
  top: auto;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/**
 * @file
 * Structures and layouts.
 *
 * Structures are stuff that are half-prepared things that other stuff can
 * reuse and build upon.
 */
.box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  padding: 1em;
}

.tpl--block {
  margin-bottom: 2em;
}
.tpl--block:last-child {
  margin-bottom: 0;
}

.sidebar .tpl--block {
  margin-bottom: 1.5em;
}
.sidebar .tpl--block:last-child {
  margin-bottom: 0;
}

.column {
  margin-bottom: 1.5em;
}

@media (min-width: 43.75em) {
  .column {
    margin-bottom: 0;
  }
}
/**
 * @see
 * https://github.com/at-import/Singularity/wiki
 * http://snugug.github.io/RWD-with-Sass-Compass/#/interesting-grids
 * http://snugug.github.io/RWD-with-Sass-Compass/#/nested-grid-html
 */
.grid {
  list-style-type: none;
}
.grid:before, .grid:after {
  content: ' ';
  display: table;
}
.grid:after {
  clear: both;
}

@media (min-width: 43.75em) {
  .layout--2sb.symmetric.has-1-sb.sb-1 > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
  }
  .layout--2sb.symmetric.has-1-sb.sb-1 > .sidebar_1 {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.symmetric.has-1-sb.sb-2 > .main_content {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-right: 6%;
  }
  .layout--2sb.symmetric.has-1-sb.sb-2 > .sidebar_2 {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 2em;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.symmetric.has-2-sb > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_1 {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_2 {
    clear: both;
  }
}
@media (min-width: 60em) {
  .layout--2sb.symmetric.has-2-sb > .main_content {
    width: 46.15385%;
    float: left;
    margin-right: -100%;
    margin-left: 26.92308%;
    clear: none;
    padding-left: 0;
    padding-right: 0;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_1 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_2 {
    width: 23.07692%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-left.has-1-sb > .main_content {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-left.has-1-sb > .sidebar {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-left.has-2-sb > .main_content {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_1 {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_2 {
    clear: both;
  }
}
@media (min-width: 60em) {
  .layout--2sb.content-left.has-2-sb > .main_content {
    width: 46.15385%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 3.85%;
    padding-right: 0;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_1 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 50%;
    clear: none;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_2 {
    width: 23.07692%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-right.has-1-sb > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-right.has-1-sb > .sidebar {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-right.has-2-sb > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_1 {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_2 {
    clear: both;
  }
}
@media (min-width: 60em) {
  .layout--2sb.content-right.has-2-sb > .main_content {
    width: 46.15385%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 0;
    padding-right: 3.85%;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_1 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_2 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 26.92308%;
    clear: none;
  }
}

.l--list-plain > .item {
  margin-bottom: 1em;
}
.l--list-plain > .item:last-child {
  margin-bottom: 0;
}

/*
.fl-item--standard + .fl-item--standard {
  margin-top: $layout-pad*1.25;
}

.fl--style-plain {
  .field_id--field_title {
    font-size: 1.4em;
  }
  .field_id--field_preview_text {
    margin-top: $layout-pad*0.25;
    padding-left: $layout-pad;

    .field__content {
      font-size: 0.9em;
    }
    p,
    ul {
      margin: 0 0 0.5em;
    }
    p:last-child,
    ul:last-child {
      margin-bottom: 0;
    }
  }
}

// -----------------------------------------------------------------------------
@include breakpoint($bkp-wide-min) {
  .fl--style-plain .field_id--field_preview_text {
    padding-left: 1.5em;
  }
}

.fl--style-images-large {
  .fl-item + .fl-item {
    margin-top: $layout-pad*2.5;
  }
}
*/
.l--matrix {
  text-align: center;
}
.l--matrix > .item {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.l--matrix > .item:last-child {
  margin-bottom: 0;
}

@media (min-width: 35em) {
  .l--matrix--cols-3 > .item {
    display: block;
  }
}
@media (min-width: 35em) and (max-width: 59.9375em) {
  .l--matrix--cols-3 > .item:nth-child(2n+1) {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
  }
  .l--matrix--cols-3 > .item:nth-child(2n+2) {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l--matrix--cols-3 > .item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 60em) {
  .l--matrix--cols-3 > .item:nth-child(3n+1) {
    width: 31.25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
  }
  .l--matrix--cols-3 > .item:nth-child(3n+2) {
    width: 31.25%;
    float: left;
    margin-right: -100%;
    margin-left: 34.375%;
    clear: none;
  }
  .l--matrix--cols-3 > .item:nth-child(3n+3) {
    width: 31.25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l--matrix--cols-3 > .item:nth-last-child(2), .l--matrix--cols-3 > .item:nth-last-child(3) {
    margin-bottom: 0;
  }
}

@media (min-width: 26.25em) {
  .l--matrix--cols-4 > .item {
    display: block;
  }
}
@media (min-width: 26.25em) and (max-width: 43.6875em) {
  .l--matrix--cols-4 > .item:nth-child(2n+1) {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
  }
  .l--matrix--cols-4 > .item:nth-child(2n+2) {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l--matrix--cols-4 > .item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 43.75em) and (max-width: 59.9375em) {
  .l--matrix--cols-4 > .item:nth-child(3n+1) {
    width: 31.25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
  }
  .l--matrix--cols-4 > .item:nth-child(3n+2) {
    width: 31.25%;
    float: left;
    margin-right: -100%;
    margin-left: 34.375%;
    clear: none;
  }
  .l--matrix--cols-4 > .item:nth-child(3n+3) {
    width: 31.25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l--matrix--cols-4 > .item:nth-last-child(2), .l--matrix--cols-4 > .item:nth-last-child(3) {
    margin-bottom: 0;
  }
}
@media (min-width: 60em) {
  .l--matrix--cols-4 > .item:nth-child(4n+1) {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
  }
  .l--matrix--cols-4 > .item:nth-child(4n+2) {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 25.5814%;
    clear: none;
  }
  .l--matrix--cols-4 > .item:nth-child(4n+3) {
    width: 23.25581%;
    float: left;
    margin-right: -100%;
    margin-left: 51.16279%;
    clear: none;
  }
  .l--matrix--cols-4 > .item:nth-child(4n+4) {
    width: 23.25581%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .l--matrix--cols-4 > .item:nth-last-child(2), .l--matrix--cols-4 > .item:nth-last-child(3)
  .l--matrix--cols-4 > .item:nth-last-child(4) {
    margin-bottom: 0;
  }
}

.splitter > .item {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 51.25em) {
  .splitter__fit {
    overflow-x: hidden;
  }

  .splitter__wrap {
    margin-left: -2em;
    margin-right: -2em;
  }

  .splitter {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .splitter > .item {
    display: table-cell;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}
/**
 * @file
 * Default page definition.
 *
 * This mainly means the formatting of the header, the footer, and the main
 * section's outlining styles.
 *
 * NOTE: if there are specific pages, or groups of pages that have altered- or
 * completely unique page definitions, those rules could be going into
 * page_groups_and_specific_pages.scss. This will become important when/if we
 * attempt to deliver "critical styles" - especially for the homepage - at a
 * faster track.
 */
.page-center {
  max-width: 1100px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.region--header {
  display: table;
  width: 100%;
}
.region--header .entity {
  display: table-cell;
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
}
.region--header .entity:first-child {
  padding-left: 0;
}
.region--header .entity:last-child {
  padding-right: 0;
}
.region--header .menu-trigger {
  vertical-align: text-top;
}

.site-name {
  font-size: 1.2em;
}
.site-name, .site-name:hover {
  text-decoration: none;
}

.site-tagline {
  display: none;
  font-style: italic;
}

.entity--header_widgets {
  text-align: right;
}

.region--header_suffix {
  margin: 0.75em 0 0;
}

@media (min-width: 43.75em) {
  .site-tagline {
    display: block;
  }
}
@media (min-width: 60em) {
  .page-level--header .page-center {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}
.page-level--main {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

.entity--content_meta {
  margin-bottom: 1.75em;
}

h1.page__title {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25;
  margin: -0.25em 0 0.67em;
}

.page__subtitle {
  color: #777;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 1.5em;
}
.page__title + .page__subtitle {
  margin-top: -0.25em;
}

.block__title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

@media (min-width: 43.75em) {
  .page-level--main {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .entity--content_meta {
    margin-bottom: 2em;
  }

  [id="navigation"],
  .primary-content {
    margin-top: -1em;
    padding-top: 1em;
  }
}
@media (min-width: 60em) {
  .page-level--main {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .entity--content_meta {
    margin-bottom: 2.5em;
  }
}
@media (min-width: 68.75em) {
  .content-level {
    min-height: 24em;
  }
}
.region--footer {
  padding-top: 0.25em;
  padding-bottom: 3em;
  text-align: center;
}
.region--footer:before, .region--footer:after {
  content: ' ';
  display: table;
}
.region--footer:after {
  clear: both;
}
.region--footer .tpl--block {
  margin-bottom: 0;
}
.region--footer .tpl--block + .tpl--block {
  margin-top: 1em;
}
.region--footer .block__content {
  font-size: 0.9em;
}
.region--footer .menu {
  display: inline-block;
}

@media (min-width: 43.75em) {
  html, body {
    height: 100%;
  }

  #main-screen {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -130px;
  }
  #main-screen #footer-push {
    height: 130px;
  }

  .page-level--footer {
    clear: both;
    position: relative;
    height: 130px;
  }

  .region--footer {
    padding-bottom: 0.5em;
  }
}
/**
 * @file
 * Components.
 *
 * Components are such elements on the pages that exist at their own right, and
 * other things can not build upon them.
 */
.content-meta__info {
  font-size: 0.9em;
  padding: 0.5em 0 0;
}

.content-meta__item {
  display: inline-block;
  line-height: 1.8;
  margin: 0 3em 0.5em 0;
}
.content-meta__item:last-child {
  margin-right: 0;
}
.content-meta__item li {
  display: inline-block;
}
.content-meta__item .label {
  display: block;
}

.textbox,
blockquote {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  padding: 1em;
  margin: 2em 0;
  position: relative;
}
.textbox:first-child,
blockquote:first-child {
  margin-top: 0;
}
.textbox:last-child,
blockquote:last-child {
  margin-bottom: 0;
}
.textbox:before,
blockquote:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1427225625');
  background-attachment: scroll;
  background-repeat: no-repeat;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 24px;
  left: 0.85em;
  position: absolute;
  top: 0.85em;
  width: 24px;
}
.mdz-no-svg .textbox:before, .mdz-no-svg
blockquote:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1427225625');
}

.textbox--hero p,
.textbox--hero li {
  color: #4d4d4d;
  font-size: 1.1em;
  line-height: 1.4;
}

.textbox--note {
  padding-left: 4em;
}
.textbox--note:before {
  background-color: #4d4d4d;
  background-position: center -40px;
  content: ' ';
}

.textbox--links {
  padding-left: 4em;
}
.textbox--links:before {
  background-color: #4d4d4d;
  background-position: center -100px;
  content: ' ';
}

blockquote {
  padding-left: 4em;
}
blockquote:before {
  background-color: #4d4d4d;
  background-position: center -70px;
  content: ' ';
}

.defs > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.defs > ul > li > p, .defs > ul > li > div {
  margin-left: 1em;
}
.defs > ul > li > p:first-of-type {
  font-style: italic;
  font-weight: 700;
}
.defs > ul ul {
  list-style-type: disc;
  padding-left: 2em;
}
.defs > ul ul ul {
  list-style-type: circle;
  padding-left: 1.5em;
}
.defs > ul ul ul ul {
  list-style-type: square;
}

.tpl--field {
  margin-bottom: 1em;
}
.tpl--field:last-child {
  margin-bottom: 0;
}

.field_type--image a,
.field_type--image img {
  display: block;
  line-height: 1;
  margin: 0;
  vertical-align: text-bottom;
}

.p10n--dynamic_full .field_id--field_description {
  margin-bottom: 2em;
}

/**
 * @file
 * Rules for web form items.
 */
/**
 * @file
 * Rules for navigation.
 */
.langswitch {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.langswitch ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.langswitch li {
  display: inline-block;
}
.langswitch li + li {
  margin-left: 1.5em;
}

.locale .flag {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1427225625');
  background-attachment: scroll;
  background-repeat: no-repeat;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  height: 20px;
  position: relative;
  top: -0.05em;
  vertical-align: middle;
  width: 30px;
}
.mdz-no-svg .locale .flag {
  background-image: url('../images/icon-sprite-main--prod--4.png?1427225625');
}
.locale .flag:before {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(90, 90, 166, 0.1), rgba(90, 90, 166, 0.3));
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.langswitch--page .locale .flag {
  margin-right: 0.5em;
}

.langswitch .pretext {
  padding-bottom: 0.5em;
}
[class*="header_widgets"] .langswitch {
  float: right;
}
.langswitch .label {
  text-align: left;
}
.langswitch .label.has-icon:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1427225625');
  background-attachment: scroll;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 18px;
  margin-right: 0.75em;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 18px;
}
.mdz-no-svg .langswitch .label.has-icon:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1427225625');
}
.langswitch .label.home-page:before {
  background-position: center -190px;
}
.langswitch .label.translations:before {
  background-position: center -210px;
}
.langswitch .label.no-translations:before {
  background-position: center -230px;
}

.langswitch--nav .label.home-page:before {
  background-position: center -250px;
}
.langswitch--nav .label.translations:before {
  background-position: center -270px;
}
.langswitch--nav .label.no-translations:before {
  background-position: center -290px;
}

.locale--primary .flag {
  background-position: center 0;
}

.locale--secondary .flag {
  background-position: center -20px;
}

.langswitch--nav .flag {
  border: 1px solid #888;
  border: 1px solid rgba(136, 136, 136, 0.3);
}

a.locale:focus {
  outline: none !important;
}

a.locale:hover .flag,
a.locale:focus .flag {
  -moz-box-shadow: white 0 0 4px 1px;
  -webkit-box-shadow: white 0 0 4px 1px;
  box-shadow: white 0 0 4px 1px;
  border-color: rgba(255, 255, 255, 0.8);
}

.langswitch--nav {
  padding: 0.25em 0 0.75em;
}
.langswitch--nav a.locale:hover .flag,
.langswitch--nav a.locale:focus .flag {
  -moz-box-shadow: #5a5aa6 0 0 4px 1px;
  -webkit-box-shadow: #5a5aa6 0 0 4px 1px;
  box-shadow: #5a5aa6 0 0 4px 1px;
  border-color: white;
}

.menu,
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.nav-format--regular {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #5a5aa6;
  overflow: hidden;
}
.nav-format--regular ul {
  background: rgba(0, 0, 0, 0.15);
}
.nav-format--regular .menu__button {
  max-height: 1000000px;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  border: 1px solid #5a5aa6;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  padding: 0.3em 0.5em;
  position: relative;
}
.nav-format--regular .menu__button > span {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-border-radius: 2.25px;
  -webkit-border-radius: 2.25px;
  border-radius: 2.25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dotted transparent;
  display: inline-block;
  padding: 0.25em 0.33em;
}
.nav-format--regular .menu__static {
  display: block;
  padding: 0.5em 0.5em;
}
.nav-format--regular .menu__static > span {
  color: white;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75em;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-format--regular .menu__static > span:after {
  content: ':';
}
.nav-format--regular .active-trail > .menu__button > span {
  background: rgba(255, 255, 255, 0.15);
}
.nav-format--regular .menu__link {
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.nav-format--regular .menu__link:focus {
  outline: none;
}
.nav-format--regular .menu__link:focus > span {
  border-color: rgba(255, 255, 255, 0.75);
}
.nav-format--regular .menu__link:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}
.nav-format--regular .menu__link:hover > span {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: transparent;
}
.nav-format--regular .menu__link:visited:hover {
  color: white;
}
.nav-format--regular .menu__link.active > span {
  background-color: rgba(0, 0, 0, 0.15);
}

.nav-format--regular.variant--light {
  background: #eee;
}
.nav-format--regular.variant--light ul {
  background: transparent;
}
.nav-format--regular.variant--light .menu__static > span {
  color: #777;
  color: rgba(51, 51, 51, 0.7);
}
.nav-format--regular.variant--light .menu__button {
  border: 1px solid transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.nav-format--regular.variant--light .menu__button, .nav-format--regular.variant--light .menu__button:hover, .nav-format--regular.variant--light .menu__button:visited:hover {
  color: #4646b9;
}
.nav-format--regular.variant--light .menu__link {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}
.nav-format--regular.variant--light .active-trail > .menu__button > span {
  background: rgba(255, 255, 255, 0.75);
}
.nav-format--regular.variant--light .menu__link:focus > span {
  border-color: rgba(70, 70, 185, 0.75);
}
.nav-format--regular.variant--light .menu__link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav-format--regular.variant--light .menu__link:hover > span {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.nav-format--regular.variant--light .menu__link.active > span {
  background-color: rgba(0, 0, 0, 0.07);
}

.indications--on-right .nav-format--regular .menu__button {
  padding-left: 0.5em;
  padding-right: 1em;
}
.indications--on-right .nav-format--regular .depth--2 > .menu__button {
  padding-left: 1.25em;
}
.indications--on-right .nav-format--regular .depth--3 > .menu__button {
  padding-left: 2em;
}
.indications--on-right .nav-format--regular .depth--4 > .menu__button {
  padding-left: 2.75em;
}

.indications--on-left .nav-format--regular .menu__button {
  padding-left: 1em;
  padding-right: 0.5em;
}
.indications--on-left .nav-format--regular .depth--2 > .menu__button {
  padding-left: 1.75em;
}
.indications--on-left .nav-format--regular .depth--3 > .menu__button {
  padding-left: 2.5em;
}
.indications--on-left .nav-format--regular .depth--4 > .menu__button {
  padding-left: 3.25em;
}

.nav-format--button-row .menu__item {
  float: left;
  margin: 0 0.25em 0.5em;
  white-space: nowrap;
}
.nav-format--button-row .menu__link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 2.25px;
  -webkit-border-radius: 2.25px;
  border-radius: 2.25px;
  font-size: 0.9em;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 0.5em;
  background-color: #f6f6f6;
  font-weight: 700;
  text-shadow: 0 1px 1px white;
}
.nav-format--button-row .menu__link, .nav-format--button-row .menu__link:visited {
  color: #5e5e5e;
}
.nav-format--button-row .menu__link:hover, .nav-format--button-row .menu__link:visited:hover, .nav-format--button-row .menu__link:focus {
  background-color: #5a5aa6;
  border: none;
  color: #eee;
  outline: none;
  text-shadow: 0 1px 1px rgba(10, 7, 12, 0.5);
}

a.menu-trigger {
  display: inline-block;
  font-size: 0.9em;
  padding: 0.1em 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
}
a.menu-trigger.fixed {
  -webkit-transform: translateZ(0);
  bottom: 1em;
  position: fixed;
  right: -10em;
  opacity: 0;
  z-index: 9000;
}

.has-js .sidebar .block--menu {
  display: none;
}

[class*="header_widgets"] .langswitch {
  display: none;
}

[data-modal-show="true"] .menu-trigger {
  opacity: 0;
}

.menu-trigger.fixed {
  display: none;
}
[data-scrolled-in="true"] .menu-trigger.fixed {
  display: inline-block;
  right: 1em;
  opacity: 1;
}
[data-modal-show="true"] .menu-trigger.fixed {
  opacity: 0;
}

@media (min-width: 43.75em) {
  .has-js .sidebar .block--menu {
    display: block;
  }

  .overlay--nav,
  .modal--nav {
    display: none !important;
  }

  [class*="header_widgets"] .langswitch {
    display: block;
  }

  [class*="header_widgets"] .menu-trigger,
  .menu-trigger.fixed,
  [class*="main-menu"] .langswitch {
    display: none !important;
  }
}
[id="overlay--common"],
[id="modal--common"] {
  display: none;
  opacity: 0;
}

[id="overlay--common"] {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 9100;
}

[id="modal--common"] {
  left: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9200;
}

[id="throbber--modal"][data-on="true"] {
  opacity: 1;
}

[id="throbber--modal"][data-on="false"] {
  opacity: 0;
}

[data-modal-init="false"] [id="throbber--modal"] {
  display: none;
}

[id="overlay--common"] {
  background: gray;
  background: rgba(0, 0, 0, 0.65);
}

[id="modal__content"] {
  max-width: 900px;
  margin: 1.5em 1em 1em;
  position: relative;
}

[id="modal__close"] {
  -webkit-appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: gray;
  border: 1px solid gray;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 24px;
  z-index: 1;
}
[id="modal__close"]:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1427225625');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center -131px;
  content: '';
  display: block;
  height: 22px;
  width: 22px;
}
.mdz-no-svg [id="modal__close"]:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1427225625');
}
[id="modal__close"]:focus {
  -moz-box-shadow: white 0 0 5px 2px;
  -webkit-box-shadow: white 0 0 5px 2px;
  box-shadow: white 0 0 5px 2px;
  border-color: white;
  outline: none;
}

.modal--nav [id="modal__content"] {
  padding: 0.5em;
}

[data-modal-init="true"] [id="overlay--common"],
[data-modal-init="true"] [id="modal--common"] {
  display: block;
}

[data-modal-show="true"] [id="overlay--common"],
[data-modal-show="true"] [id="modal--common"] {
  opacity: 1;
}

[data-modal-init="false"] [id="overlay--common"],
[data-modal-init="false"] [id="modal--common"] {
  display: none;
}

[data-modal-show="false"] [id="overlay--common"],
[data-modal-show="false"] [id="modal--common"] {
  opacity: 0;
}

[id="overlay--common"],
[id="modal--common"] {
  cursor: pointer;
}

[id="modal__content"] {
  cursor: default;
}

.throbber--modal {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -webkit-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #b34db2;
  border: 2px solid white;
  display: block;
  height: 32px;
  left: 50%;
  margin: -12px 0 0 -12px;
  opacity: 0;
  padding: 2px;
  position: fixed;
  width: 32px;
  top: 50%;
  z-index: 900;
}
.throbber--modal:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1427225625');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center -160px;
  content: ' ';
  display: inline-block;
  height: 24px;
  width: 24px;
  -webkit-animation: spinner 1s linear infinite;
  -moz-animation: spinner 1s linear infinite;
  -ms-animation: spinner 1s linear infinite;
  -o-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
}
.mdz-no-svg .throbber--modal:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1427225625');
}

@-webkit-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
 * @file
 * Skin.
 *
 * Belong here:
 * colors, backgrounds, borders, radiuses, effects.
 *
 * Do not belong here:
 * font-size, -family, line-height, and other typography-related things.
 *
 * Might belong here:
 * Anything, if it is made neccessary by something legit belonging here.
 *
 * E.g. when something gets a non-default bg-color, extra padding might become
 * neccessary around it; then that padding should come here too.
 *
 * The reasoning behind this is that if that bg-color ever gets removed, then
 * the extra padding will likely be unneeded too; but it would be a hassle to
 * search for the declaration of that related padding elsewhere. So it may live
 * here then.
 */
html,
body {
  background: #eee;
  color: #333;
}

[id="main-screen"] {
  background: white;
}

.page-level--header {
  color: white;
  background: #5a5aa6;
  position: relative;
  z-index: 10;
}
.page-level--header a {
  color: white;
}
.page-level--header a:focus {
  outline: 1px dotted white;
}
.page-level--header a:visited {
  color: white;
}
.page-level--header a:hover {
  color: white;
}
.page-level--header a:visited:hover {
  color: white;
}
.page-level--header h1,
.page-level--header h2,
.page-level--header h3,
.page-level--header h4,
.page-level--header h5,
.page-level--header h6,
.page-level--header .pseudo-heading,
.page-level--header .label {
  color: white;
}
.page-level--header, .page-level--header .label {
  color: rgba(255, 255, 255, 0.7);
}

.content-meta__info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.page-level--footer {
  background: #eee;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #4d4d4d;
}

a {
  -moz-transition-property: color, background-color, border-color, background-image;
  -o-transition-property: color, background-color, border-color, background-image;
  -webkit-transition-property: color, background-color, border-color, background-image;
  transition-property: color, background-color, border-color, background-image;
  -moz-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  -o-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  -webkit-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  color: #4646b9;
  text-decoration: none;
}
a:focus {
  outline: 1px dotted #4646b9;
}
a:visited {
  color: purple;
}
a:hover {
  color: #313182;
  text-decoration: underline;
}
a:visited:hover {
  color: purple;
}

.label {
  color: #777;
}

del {
  color: #b7b7b7;
}

code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  padding: 0.05em 0.35em;
}

pre {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
}

.messages .code {
  background: rgba(255, 255, 255, 0.5);
}

::selection {
  background: #5a5aa6;
  color: white;
}

::-moz-selection {
  background: #5a5aa6;
  color: white;
}

.field_type--image img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.25em;
}

.messages {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.defs > ul > li > p:first-of-type {
  border-bottom: 1px dotted #888;
  color: #4d4d4d;
  margin: 1em 0 0.5em;
  padding: 0.25em 0;
}

[id="overlay--common"],
[id="modal--common"] {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

[id="modal__content"] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
}

[id="modal__close"] {
  -moz-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -webkit-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
}

.grid > .card {
  -moz-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -webkit-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em;
}
.grid > .card .field_type--image {
  margin-left: -1em;
  margin-right: -1em;
}
.grid > .card img {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: 0;
}

a.menu-trigger {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
a.menu-trigger, a.menu-trigger:hover {
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: white;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
a.menu-trigger:hover, a.menu-trigger:focus {
  -moz-box-shadow: white 0 0 4px 1px;
  -webkit-box-shadow: white 0 0 4px 1px;
  box-shadow: white 0 0 4px 1px;
  outline: none;
  border-color: white;
}
a.menu-trigger.fixed {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(50, 35, 60, 0.5) 0 1px 6px 0;
  -webkit-box-shadow: rgba(50, 35, 60, 0.5) 0 1px 6px 0;
  box-shadow: rgba(50, 35, 60, 0.5) 0 1px 6px 0;
  background: #5a5aa6;
  border-color: white;
  color: white;
}

.jump-links {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1427225625');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
}
.mdz-no-svg .jump-links {
  background-image: url('../images/icon-sprite-main--prod--4.png?1427225625');
}

/**
 * @file
 * Styles: page groups and specific pages.
 *
 * Intended contents:
 * - rare stlyings that occur only on specific pages, typically concerning
 *   components and content on specific pages.
 * - If there are different page-variants that have altered- or unique page
 *   definition (header, footer, unique body bg), that could be placed here too.
 */
.admin-tasks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.admin-tasks li + li {
  margin-top: 1em;
}
.admin-tasks a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 1em;
  outline: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  background-color: #b34db2;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.admin-tasks a, .admin-tasks a:visited, .admin-tasks a:hover {
  color: white;
}
.admin-tasks a:hover {
  background-color: #a145a1;
}
.admin-tasks a:focus {
  outline: none;
  -moz-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  border: none;
}

@media (min-width: 43.75em) {
  .admin-tasks {
    text-align: left;
  }
}
.component-demo .cd__title {
  margin-bottom: 0.15em;
}
.component-demo + .component-demo {
  margin-top: 3.5em;
}

.cd__description {
  color: #777;
  font-style: italic;
  margin-bottom: 2em;
}

/**
 * @file
 * Quickfixes.
 *
 * @see
 * http://csswizardry.com/2013/04/shame-css/
 */
.primary-content.entity > h1:first-child, .primary-content.entity > h2:first-child, .primary-content.entity > h3:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
