/**
 * @file
 * 'Master' stylesheet.
 *
 * Used for stitching the partials together.
 */
/**
 * @file
 * Definitions of variables + further Compass setup.
 *
 * On configuring Compass:
 * @see
 * http://compass-style.org/help/documentation/configuration-reference/
 * http://compass-style.org/help/documentation/sass-based-configuration-options/
 * http://compass-style.org/index/variables/
 *
 * On using Compass:
 * @see
 * http://compass-style.org/reference/compass/
 * http://compass-style.org/index/mixins/
 * http://compass-style.org/index/functions/
 *
 * On rgba() colors:
 * @see
 * http://thesassway.com/intermediate/mixins-for-semi-transparent-colors
 *
 *
 * On further plugins:
 * @see
 * http://snugug.com/musings/introducing-breakpoint-media-queries-made-easy
 * https://github.com/codingdesigner/breakpoint/blob/master/README.markdown
 * https://github.com/at-import/breakpoint/wiki/Advanced-Media-Queries
 *
 * https://github.com/at-import/Singularity
 *
 * On everything:
 * @see
 * http://caniuse.com/
 * http://mcdlr.com/8/ ('Useful UTF-8 Characters')
 */
/* LEGEND for the breakpoint variables:
| <- $layout-page-min-width                          $layout-page-max-width -> |
|                                                                              |
|            <- monocol ->              |            <- multicol ->            |
|                                       |                                      |
|  monocol   |  monocol   |  monocol    |  multicol  |  multicol  |  multicol  |
|  lowthird  |  midthird  |  highthird  |  lowthird  |  midthird  |  highthird |
| (mono-lt)  | (mono-mt)  | (mono-ht)   | (multi-lt) | (multi-mt) | (multi-ht) |
*/
/**
 * @file
 * Custom mixins.
 *
 * Mixins vs Extending utility-role Placeholders?
 *
 * Mixins won, placeholders lost so badly that they will not be used. Repetition
 * originating from using mixins will be mitigated by gzip serving the resulting
 * files (gzip works well on repeated patterns, they say).
 *
 * @see
 * http://www.sitepoint.com/avoid-sass-extend/
 * http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/
 *
 * Reminder on basic syntax:
 * @code
 *
 * @mixin test-mixin--box($bg: gold, $padding: 1em) {
 *   background: $bg;
 *   padding: $padding;
 *
 *   @if $bg == (gold) and $padding == (1em) {
 *     border: 1px solid red;
 *   }
 *   @else if $bg == (gold) and $padding != (1em) {
 *     border: 5px solid red;
 *   }
 *   @else {
 *     border: 3px solid black;
 *   }
 * }
 *
 * @endcode
 */
/**
 * @file
 * Theme-specific custom mixins.
 *
 * Mixins vs Extending utility-role Placeholders?
 *
 * Mixins won, placeholders lost so badly that they will not be used. Repetition
 * originating from using mixins will be mitigated by gzip serving the resulting
 * files (gzip works well on repeated patterns, they say).
 *
 * @see
 * http://www.sitepoint.com/avoid-sass-extend/
 * http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/
 *
 * NOTES on basic syntax:
 * @code
 *
 * @mixin test-mixin--box($bg: gold, $padding: 1em) {
 *   background: $bg;
 *   padding: $padding;
 *
 *   @if $bg == (gold) and $padding == (1em) {
 *     border: 1px solid red;
 *   }
 *   @else if $bg == (gold) and $padding != (1em) {
 *     border: 5px solid red;
 *   }
 *   @else {
 *     border: 3px solid black;
 *   }
 * }
 *
 * @endcode
 */
/**
 * Allow buttons to have distinct shadow effects in complex situations.
 *
 * Complex situations arise when we want to replace CSS outline (on focus) with
 * outer box shadows, and then, upon focus event, alongside the new
 * focus-indicating shadows, we want to keep the original inset box shadows too
 * that were originally part of the standard button appearance.
 */
/**
 * Sys notification styles.
 */
/* Messages layout. */
.messages-container {
  color: #333;
}

.messages {
  padding: 0.5em;
}

.messages + .messages {
  margin-top: 0.5em;
}

.messages-container ul {
  margin: 0;
  padding: 0 0 0 2em;
}

.messages pre {
  margin-bottom: 2em;
  overflow: visible;
}

.messages li:last-child pre {
  margin-bottom: 1em;
}

/* Messages colors. */
.messages-container .info {
  background: #afa;
  border: 1px solid green;
}

.messages-container .info a,
.messages-container .info a:hover {
  color: #090;
}

.messages-container .warning {
  background: #ffa;
  border: 1px solid orange;
}

.messages-container .warning a,
.messages-container .warning a:hover {
  color: #c80;
}

.messages-container .alert {
  background: pink;
  border: 1px solid red;
}

.messages-container .alert a,
.messages-container .alert a:hover {
  color: #b00;
}

.messages-container .debug {
  background: #E7F1F5;
  border: 1px solid cornflowerblue;
}

.messages-container .debug a,
.messages-container .debug a:hover {
  color: dodgerblue;
}

/**
 * @file
 * Base styles.
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

p:first-child,
ul:first-child,
ol:first-child,
dl:first-child {
  margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child {
  margin-bottom: 0;
}

ul {
  padding-left: 1em;
}

.box {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  padding: 1em;
}

.button--action {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 1em;
  outline: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  background-color: #b34db2;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.button--action:hover, .button--action:focus {
  border-bottom: none;
}
.button--action, .button--action:visited, .button--action:hover {
  color: white;
}
.button--action:hover {
  background-color: #a145a1;
}
.button--action:focus {
  outline: none;
  -moz-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  border: none;
}

.button--nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 1em;
  outline: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  background-color: #5a5aa6;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.button--nav:hover, .button--nav:focus {
  border-bottom: none;
}
.button--nav, .button--nav:visited, .button--nav:hover {
  color: white;
}
.button--nav:hover {
  background-color: #515195;
}
.button--nav:focus {
  outline: none;
  -moz-box-shadow: white 0 0 1px 1px, #5a5aa6 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: white 0 0 1px 1px, #5a5aa6 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: white 0 0 1px 1px, #5a5aa6 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  border: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.hidden {
  height: 1px;
  left: -9000em;
  top: auto;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.field + .field {
  margin-top: 1em;
}

code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f8f8f8;
  font-size: 0.8em;
  padding: 0.05em 0.35em;
}
.messages code {
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
}

span.anchor {
  display: inline-block;
  position: relative;
  top: -0.75em;
  vertical-align: text-top;
}

.field--field_preview_image a:hover, .field--field_preview_image a:focus {
  border-bottom: none;
}
.field--field_preview_image img {
  display: inline-block;
  line-height: 1;
  margin: 0;
  vertical-align: text-bottom;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.25em;
}

.dynamic--full .field--field_description {
  margin-bottom: 2em;
}

.lt-ie9 img {
  max-width: none;
}

/**
 * @file
 * Layout rules. As I observe, layouts can be thought of as modules as well.
 *
 * @see
 * https://github.com/at-import/Singularity/wiki
 * http://snugug.github.io/RWD-with-Sass-Compass/#/interesting-grids
 * http://snugug.github.io/RWD-with-Sass-Compass/#/nested-grid-html
 */
.block {
  margin-bottom: 2em;
}
.block:last-child {
  margin-bottom: 0;
}

.sidebar .block {
  margin-bottom: 1.5em;
}
.sidebar .block:last-child {
  margin-bottom: 0;
}

.column {
  margin-bottom: 1.5em;
}

.sidebar:last-child {
  margin-bottom: 2em;
}

@media (min-width: 43.75em) {
  .column {
    margin-bottom: 2em;
  }
}
.grid {
  list-style-type: none;
}
.grid:before, .grid:after {
  content: ' ';
  display: table;
}
.grid:after {
  clear: both;
}

@media (min-width: 43.75em) {
  .layout--2sb.symmetric.has-1-sb.sb-1 > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.symmetric.has-1-sb.sb-1 > .sidebar_1 {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.symmetric.has-1-sb.sb-2 > .main_content {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.symmetric.has-1-sb.sb-2 > .sidebar_2 {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-bottom: 2em;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.symmetric.has-2-sb > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_1 {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_2 {
    clear: both;
  }
}
@media (min-width: 57.5em) {
  .layout--2sb.symmetric.has-2-sb > .main_content {
    width: 46.15385%;
    float: left;
    margin-right: -100%;
    margin-left: 26.92308%;
    clear: none;
    padding-left: 0;
    padding-right: 0;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_1 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.symmetric.has-2-sb > .sidebar_2 {
    width: 23.07692%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-left.has-1-sb > .main_content {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-left.has-1-sb > .sidebar {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-left.has-2-sb > .main_content {
    width: 75%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_1 {
    width: 25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_2 {
    clear: both;
  }
}
@media (min-width: 57.5em) {
  .layout--2sb.content-left.has-2-sb > .main_content {
    width: 46.15385%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: 3.85%;
    padding-right: 0;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_1 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 50%;
    clear: none;
  }
  .layout--2sb.content-left.has-2-sb > .sidebar_2 {
    width: 23.07692%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-right.has-1-sb > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-right.has-1-sb > .sidebar {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 43.75em) {
  .layout--2sb.content-right.has-2-sb > .main_content {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_1 {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_2 {
    clear: both;
  }
}
@media (min-width: 57.5em) {
  .layout--2sb.content-right.has-2-sb > .main_content {
    width: 46.15385%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 0;
    padding-right: 3.85%;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_1 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--2sb.content-right.has-2-sb > .sidebar_2 {
    width: 23.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 26.92308%;
    clear: none;
  }
}

.layout--landing_1 .column--main .grid-item {
  margin-bottom: 2em;
}
@media (min-width: 43.75em) {
  .layout--landing_1 .sidebar {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--landing_1 .column--main {
    width: 75%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6%;
    padding-right: 6%;
  }
}
@media (min-width: 57.5em) {
  .layout--landing_1 .sidebar {
    width: 20.83333%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--landing_1 .column--main {
    width: 79.16667%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .layout--landing_1 .column--main .grid-item {
    margin-bottom: 0;
  }
  .layout--landing_1 .slot--major_1 {
    width: 31.81818%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .layout--landing_1 .slot--major_2 {
    width: 59.09091%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.splitter > .item {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 53.75em) {
  .splitter__fit {
    overflow-x: hidden;
  }

  .splitter__wrap {
    margin-left: -2em;
    margin-right: -2em;
  }

  .splitter {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .splitter > .item {
    display: table-cell;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}
/**
 * @file
 * Rules for _reusable_ modules.
 *
 * NOTE to self: If it's not reusable at various places, then it should go
 * elsewhere.
 */
.langswitch {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.langswitch ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.langswitch li {
  display: inline-block;
}
.langswitch li + li {
  margin-left: 1.5em;
}

.locale .flag {
  display: inline-block;
  height: 20px;
  position: relative;
  top: -0.05em;
  vertical-align: middle;
  width: 30px;
}
.langswitch--page .locale .flag {
  margin-right: 0.5em;
}

.textbox,
blockquote {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  padding: 1em;
  margin: 2em 0;
  position: relative;
}
.textbox:first-child,
blockquote:first-child {
  margin-top: 0.8em;
}
.textbox:last-child,
blockquote:last-child {
  margin-bottom: 0;
}
.textbox:before,
blockquote:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1425562839');
  background-attachment: scroll;
  background-repeat: no-repeat;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 24px;
  left: 0.85em;
  position: absolute;
  top: 0.85em;
  width: 24px;
}
.mdz-no-svg .textbox:before, .mdz-no-svg
blockquote:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1425562839');
}

.textbox--hero p,
.textbox--hero li {
  color: #4d4d4d;
  font-size: 1.1em;
  line-height: 1.4;
}

.textbox--note {
  padding-left: 4em;
}
.textbox--note:before {
  background-color: #4d4d4d;
  background-position: center -40px;
  content: ' ';
}

.textbox--links {
  padding-left: 4em;
}
.textbox--links:before {
  background-color: #4d4d4d;
  background-position: center -100px;
  content: ' ';
}

blockquote {
  padding-left: 4em;
}
blockquote:before {
  background-color: #4d4d4d;
  background-position: center -70px;
  content: ' ';
}

.defs > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.defs > ul > li > p, .defs > ul > li > div {
  margin-left: 1em;
}
.defs > ul > li > p:first-child {
  margin: 1em 0 0.5em;
  padding: 0.25em 0;
}
.defs > ul ul {
  list-style-type: disc;
  padding-left: 2em;
}
.defs > ul ul ul {
  list-style-type: circle;
  padding-left: 1.5em;
}
.defs > ul ul ul ul {
  list-style-type: square;
}

.fl-item + .fl-item {
  margin-top: 1.25em;
}

.fl--style-plain .field--field_title {
  font-size: 1.4em;
}
.fl--style-plain .field--field_preview_text {
  margin-top: 0.25em;
  padding-left: 1em;
}
.fl--style-plain .field--field_preview_text .field__content {
  font-size: 0.9em;
}
.fl--style-plain .field--field_preview_text p,
.fl--style-plain .field--field_preview_text ul {
  margin: 0 0 0.5em;
}
.fl--style-plain .field--field_preview_text p:last-child,
.fl--style-plain .field--field_preview_text ul:last-child {
  margin-bottom: 0;
}

@media (min-width: 43.75em) {
  .fl--style-plain .field--field_preview_text {
    padding-left: 1.5em;
  }
}
.fl--style-images-large .fl-item + .fl-item {
  margin-top: 2.5em;
}

[id="overlay--common"],
[id="modal--common"] {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: none;
  opacity: 0;
}

[id="overlay--common"] {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

[id="modal--common"] {
  left: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}

/**
 * @file
 * Page-things.
 */
.page-center {
  max-width: 1100px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.jump-links {
  background: #333;
  height: 0;
  position: relative;
}

a.jump-link {
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -moz-transition-duration: 0.4s, 0.4s;
  -o-transition-duration: 0.4s, 0.4s;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #333;
  background: rgba(51, 51, 51, 0.75);
  display: block;
  left: 50%;
  line-height: 2em;
  margin-left: -150px;
  position: absolute;
  opacity: 0;
  outline: 0;
  text-decoration: none;
  text-align: center;
  top: -2em;
  width: 300px;
  z-index: 1000;
}
a.jump-link, a.jump-link:focus, a.jump-link:hover {
  border: 1px solid rgba(156, 156, 202, 0.75);
  color: white;
}

.jump-link:focus {
  opacity: 1;
  top: -1px;
}

.region--header {
  display: table;
  width: 100%;
}
.region--header .block {
  display: table-cell;
}

.site-name {
  font-size: 1.2em;
}

.site-tagline {
  display: none;
}

.block--header_widgets {
  text-align: right;
  vertical-align: middle;
}

.region--header_suffix {
  margin: 0.75em 0 0;
}

@media (min-width: 43.75em) {
  .site-tagline {
    display: block;
    font-style: italic;
  }

  .region--header .block {
    vertical-align: middle;
  }
}
.content-level {
  padding-top: 2em;
}

.primary-content.entity {
  padding-bottom: 1em;
}

.block--content_meta {
  margin-bottom: 2em;
}

.page__title {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25;
  margin: -0.2em 0 0.67em;
}

.page__subtitle {
  color: #777;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 1.5em;
}
.page__title + .page__subtitle {
  margin-top: -0.25em;
}

.block__title {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

@media (min-width: 43.75em) {
  .content-level > .sidebar_1,
  .layout--landing_1 > .column--minor {
    margin-top: 0;
  }

  [id="navigation"],
  .primary-content.entity {
    margin-top: -1em;
    padding-top: 1em;
  }
}
@media (min-width: 68.75em) {
  .page-level--header {
    margin-bottom: 2.5em;
  }
  .page-level--header .page-center {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .content-level {
    min-height: 24em;
    padding-top: 1.7em;
  }

  .sidebar [id="navigation"]:first-child,
  .column--minor [id="navigation"]:first-child {
    margin-top: -2.7em;
  }

  .page-level--body {
    margin-bottom: 2.5em;
  }
}
.content-meta {
  font-size: 0.9em;
  padding: 0.5em 0 0;
}

.content-meta__item {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 3em 0.5em 0;
}
.content-meta__item,
.content-meta__item li {
  display: inline-block;
  line-height: 1.8;
}
.content-meta__item .label {
  display: block;
}

.region--footer {
  text-align: center;
}
.region--footer:before, .region--footer:after {
  content: ' ';
  display: table;
}
.region--footer:after {
  clear: both;
}
.region--footer .block {
  margin-bottom: 0;
}
.region--footer .block + .block {
  margin-top: 1em;
}
.region--footer .block__content {
  font-size: 0.9em;
}

/**
 * @file
 * Theme styles.
 */
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eee;
  color: #333;
}

::selection {
  background: #5a5aa6;
  color: white;
}

::-moz-selection {
  background: #5a5aa6;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
}

h2 {
  font-weight: normal;
  margin-bottom: 0.6em;
}

a {
  -moz-transition-property: color, background-color, border-color, background-image;
  -o-transition-property: color, background-color, border-color, background-image;
  -webkit-transition-property: color, background-color, border-color, background-image;
  transition-property: color, background-color, border-color, background-image;
  -moz-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  -o-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  -webkit-transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  transition-duration: 0.1s, 0.1s, 0.1s, 0.1s;
  text-decoration: none;
}
a, a:visited {
  color: #4646b9;
}
a:focus {
  border-bottom: 1px dotted #4646b9;
  outline: none;
}
a:hover {
  color: #383894;
  border-bottom: 1px solid #4646b9;
}

strong {
  color: #4d4d4d;
}
a strong {
  color: #4646b9;
}

.label {
  color: #777;
  font-style: italic;
  font-size: 0.9em;
}
.label:after {
  content: ':';
}
.label.mute:after {
  content: none;
}

.messages {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

del {
  color: #b7b7b7;
}

.field-type--image img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.25em;
  display: inline-block;
  line-height: 1;
  margin: 0;
  vertical-align: text-bottom;
}

.page-level--header {
  background: #5a5aa6;
  color: white;
}
.page-level--header a, .page-level--header a:hover {
  color: #ebe0eb;
  border-color: #ebe0eb;
}
.page-level--header a strong {
  color: #ebe0eb;
}
.page-level--header .label {
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

.page-level--body .page-center {
  background: white;
  padding-bottom: 0;
}

a.site-name, a.site-name:hover {
  color: white;
  border-color: white;
}
a.site-name:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.site-tagline {
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

a.menu-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.9em;
  padding: 0.1em 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
}
a.menu-button, a.menu-button:hover {
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: white;
  color: rgba(255, 255, 255, 0.9);
}
a.menu-button:hover, a.menu-button:focus {
  -moz-box-shadow: #ebe0eb 0 0 4px 1px;
  -webkit-box-shadow: #ebe0eb 0 0 4px 1px;
  box-shadow: #ebe0eb 0 0 4px 1px;
}
a.menu-button.fixed {
  -moz-box-shadow: rgba(50, 35, 60, 0.5) 0 1px 6px 0;
  -webkit-box-shadow: rgba(50, 35, 60, 0.5) 0 1px 6px 0;
  box-shadow: rgba(50, 35, 60, 0.5) 0 1px 6px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: translateZ(0);
  background: #5a5aa6;
  color: white;
  border-color: white;
  bottom: 1em;
  position: fixed;
  right: -10em;
  opacity: 0;
  z-index: 1000;
}

.content-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.region--footer {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  margin: -0.5em;
  padding: 0.5em 0.5em 3em;
}

@media (min-width: 43.75em) {
  .region--footer {
    padding-bottom: 0.5em;
  }
}
@media (min-width: 68.75em) {
  .page-level--header {
    -moz-box-shadow: rgba(77, 54, 92, 0.5) 0 -3px 4px 4px;
    -webkit-box-shadow: rgba(77, 54, 92, 0.5) 0 -3px 4px 4px;
    box-shadow: rgba(77, 54, 92, 0.5) 0 -3px 4px 4px;
  }

  .page-level--body .page-center {
    -moz-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
    -webkit-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
    box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
    -moz-border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    border-radius: 4.5px;
    padding-bottom: 0.5em;
  }

  .region--footer {
    background-color: #eee;
    margin: 0;
  }
}
.menu,
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.nav-format--regular {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #5a5aa6;
  overflow: hidden;
  /*.menu__link:hover > span:after {
    opacity: 0.75;
  }*/
}
.nav-format--regular ul {
  background: rgba(0, 0, 0, 0.15);
}
.nav-format--regular .menu__button {
  max-height: 1000000px;
  border: 1px solid #5a5aa6;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  color: white;
  position: relative;
  text-decoration: none;
}
.nav-format--regular .menu__button > span {
  -moz-border-radius: 2.25px;
  -webkit-border-radius: 2.25px;
  border-radius: 2.25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dotted transparent;
  display: inline-block;
  padding: 0.25em 0.33em;
}
.nav-format--regular .menu__link {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  display: block;
  padding: 0.3em 0.5em;
  position: relative;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.nav-format--regular .menu__link > span {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
      /*&:after {
        @include transition-property(opacity);
        @include transition-duration($transitspeed-fast);

        color: white;
        font-family: monospace;
        font-size: 12px;
        height: 12px;
        line-height: 1;
        margin-top: -6px;
        opacity: 0;
        position: absolute;
        top: 50%;
      }*/
}
.nav-format--regular .menu__static {
  display: block;
  padding: 0.5em 0.5em;
}
.nav-format--regular .menu__static > span {
  color: white;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75em;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-format--regular .menu__static > span:after {
  content: ':';
}
.nav-format--regular .active-trail > .menu__button > span {
  background: rgba(255, 255, 255, 0.15);
}
.nav-format--regular .menu__link:focus > span {
  border-color: rgba(255, 255, 255, 0.5);
}
.nav-format--regular .menu__link:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
.nav-format--regular .menu__link:hover > span {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: transparent;
}
.nav-format--regular .menu__link.active > span {
  background-color: rgba(0, 0, 0, 0.15);
  /*&:after {
    opacity: 1;
  }*/
}

.nav-format--regular.variant--light {
  background: #eee;
}
.nav-format--regular.variant--light ul {
  background: transparent;
}
.nav-format--regular.variant--light .menu__static > span {
  color: #777;
  color: rgba(51, 51, 51, 0.7);
}
.nav-format--regular.variant--light .menu__button {
  border: 1px solid transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  color: #484885;
}
.nav-format--regular.variant--light .menu__link {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}
.nav-format--regular.variant--light .active-trail > .menu__button > span {
  background: rgba(255, 255, 255, 0.75);
}
.nav-format--regular.variant--light .menu__link:focus > span {
  border-color: rgba(90, 90, 166, 0.7);
}
.nav-format--regular.variant--light .menu__link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav-format--regular.variant--light .menu__link:hover > span {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.nav-format--regular.variant--light .menu__link.active > span {
  background-color: rgba(0, 0, 0, 0.07);
}

.indications--on-right .nav-format--regular {
  /*.menu__link > span:after {
    content: '\25B6'; // Right pointing arrow.
    right: 0.4em;
  }*/
}
.indications--on-right .nav-format--regular .menu__button {
  padding-left: 0.5em;
  padding-right: 1em;
}
.indications--on-right .nav-format--regular .depth--2 > .menu__button {
  padding-left: 1.25em;
}
.indications--on-right .nav-format--regular .depth--3 > .menu__button {
  padding-left: 2em;
}
.indications--on-right .nav-format--regular .depth--4 > .menu__button {
  padding-left: 2.75em;
}

.indications--on-left .nav-format--regular {
  /*.menu__link > span:after {
    content: '\25c0'; // Left pointing arrow.
    left: 0.4em;
  }*/
}
.indications--on-left .nav-format--regular .menu__button {
  padding-left: 1em;
  padding-right: 0.5em;
}
.indications--on-left .nav-format--regular .depth--2 > .menu__button {
  padding-left: 1.75em;
}
.indications--on-left .nav-format--regular .depth--3 > .menu__button {
  padding-left: 2.5em;
}
.indications--on-left .nav-format--regular .depth--4 > .menu__button {
  padding-left: 3.25em;
}

.nav-format--button-row .menu__item {
  display: inline-block;
  margin: 0 0.25em 0.5em;
}
.nav-format--button-row .menu__link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 2.25px;
  -webkit-border-radius: 2.25px;
  border-radius: 2.25px;
  font-size: 0.9em;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 0.5em;
  background-color: #f6f6f6;
  font-weight: 700;
  text-shadow: 0 1px 1px white;
}
.nav-format--button-row .menu__link:hover, .nav-format--button-row .menu__link:focus {
  border-bottom: none;
}
.nav-format--button-row .menu__link, .nav-format--button-row .menu__link:visited {
  color: #5e5e5e;
}
.nav-format--button-row .menu__link:hover, .nav-format--button-row .menu__link:visited:hover, .nav-format--button-row .menu__link:focus {
  background-color: #5a5aa6;
  border: none;
  color: #eee;
  outline: none;
  text-shadow: 0 1px 1px rgba(10, 7, 12, 0.5);
}

.langswitch .pretext {
  padding-bottom: 0.5em;
}
[class*="header_widgets"] .langswitch {
  float: right;
}
.langswitch .label {
  text-align: left;
}
.langswitch .label.has-icon:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1425562839');
  background-attachment: scroll;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 18px;
  margin-right: 0.75em;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 18px;
}
.mdz-no-svg .langswitch .label.has-icon:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1425562839');
}
.langswitch .label.home-page:before {
  background-position: center -190px;
}
.langswitch .label.translations:before {
  background-position: center -210px;
}
.langswitch .label.no-translations:before {
  background-position: center -230px;
}

.langswitch--nav .label.home-page:before {
  background-position: center -250px;
}
.langswitch--nav .label.translations:before {
  background-position: center -270px;
}
.langswitch--nav .label.no-translations:before {
  background-position: center -290px;
}

.locale .flag {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1425562839');
  background-attachment: scroll;
  background-repeat: no-repeat;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.mdz-no-svg .locale .flag {
  background-image: url('../images/icon-sprite-main--prod--4.png?1425562839');
}
.locale .flag:before {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(90, 90, 166, 0.1), rgba(90, 90, 166, 0.3));
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.locale--primary .flag {
  background-position: center 0;
}

.locale--secondary .flag {
  background-position: center -20px;
}

.langswitch--nav .flag {
  border: 1px solid #888;
  border: 1px solid rgba(136, 136, 136, 0.3);
}

a.locale,
a.locale:hover {
  border: none;
}

a.locale:hover .flag,
a.locale:focus .flag {
  -moz-box-shadow: #ebe0eb 0 0 4px 1px;
  -webkit-box-shadow: #ebe0eb 0 0 4px 1px;
  box-shadow: #ebe0eb 0 0 4px 1px;
  border-color: rgba(255, 255, 255, 0.8);
}

.langswitch--nav {
  padding: 0.25em 0 0.75em;
}
.langswitch--nav a.locale:hover .flag,
.langswitch--nav a.locale:focus .flag {
  -moz-box-shadow: #5a5aa6 0 0 4px 1px;
  -webkit-box-shadow: #5a5aa6 0 0 4px 1px;
  box-shadow: #5a5aa6 0 0 4px 1px;
  border-color: white;
}

/*
.textbox,
blockquote {

}
.textbox--hero {
  &:before {}
}
.textbox--highlight {
  &:before {}
}
.textbox--note {
  &:before {}
}
.textbox--links {
  &:before {}
}
blockquote {
  &:before {}
}
*/
.defs > ul > li > p:first-child {
  border-bottom: 1px dotted #888;
  color: #4d4d4d;
  font-style: italic;
  font-weight: 700;
}

[id="overlay--common"] {
  background: gray;
  background: rgba(0, 0, 0, 0.65);
}

[id="modal__content"] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
  max-width: 900px;
  margin: 1.5em 1em 1em;
  position: relative;
}

[id="modal__close"] {
  -webkit-appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  -moz-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -webkit-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: gray;
  border: 1px solid gray;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 24px;
  z-index: 1;
}
[id="modal__close"]:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1425562839');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center -131px;
  content: '';
  display: block;
  height: 22px;
  width: 22px;
}
.mdz-no-svg [id="modal__close"]:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1425562839');
}
[id="modal__close"]:focus {
  -moz-box-shadow: #ebe0eb 0 0 5px 2px;
  -webkit-box-shadow: #ebe0eb 0 0 5px 2px;
  box-shadow: #ebe0eb 0 0 5px 2px;
  border-color: white;
  outline: none;
}

.modal--nav [id="modal__content"] {
  padding: 0.5em;
}

.throbber--modal {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -webkit-box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  box-shadow: 0 1px 4px 0 rgba(50, 35, 60, 0.5);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #b34db2;
  border: 2px solid white;
  display: block;
  height: 32px;
  left: 50%;
  margin: -12px 0 0 -12px;
  opacity: 0;
  padding: 2px;
  position: fixed;
  width: 32px;
  top: 50%;
  z-index: 900;
}
.throbber--modal:before {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1425562839');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center -160px;
  content: ' ';
  display: inline-block;
  height: 24px;
  width: 24px;
  -webkit-animation: spinner 1s linear infinite;
  -moz-animation: spinner 1s linear infinite;
  -ms-animation: spinner 1s linear infinite;
  -o-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
}
.mdz-no-svg .throbber--modal:before {
  background-image: url('../images/icon-sprite-main--prod--4.png?1425562839');
}

@-webkit-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.jump-links {
  background-image: url('../images/icon-sprite-main--prod--4.svg?1425562839');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
}
.mdz-no-svg .jump-links {
  background-image: url('../images/icon-sprite-main--prod--4.png?1425562839');
}

/**
 * @file
 * Styles: specific pages.
 */
.layout--landing_1 .column--main .block__title {
  font-size: 1.5em;
  margin-bottom: 0.65em;
}
.layout--landing_1 .column--main .flexilist .field--field_title {
  font-size: 1.2em;
}

@media (min-width: 57.5em) {
  .layout--landing_1 .column--main .grid-item + .grid-item {
    margin-top: 1em;
  }
  .layout--landing_1 .column--main .block__title {
    margin-bottom: 1em;
  }
}
.admin-tasks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.admin-tasks li + li {
  margin-top: 1em;
}
.admin-tasks a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-style: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  line-height: 1.25;
  padding: 0.25em 1em;
  outline: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 3px 9px 1px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  background-color: #b34db2;
  text-shadow: 0 1px 4px rgba(10, 7, 12, 0.5);
}
.admin-tasks a:hover, .admin-tasks a:focus {
  border-bottom: none;
}
.admin-tasks a, .admin-tasks a:visited, .admin-tasks a:hover {
  color: white;
}
.admin-tasks a:hover {
  background-color: #a145a1;
}
.admin-tasks a:focus {
  outline: none;
  -moz-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  -webkit-box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  box-shadow: white 0 0 1px 1px, #b34db2 0 0 5px 2px, rgba(255, 255, 255, 0.3) 0 4px 9px 0px inset, rgba(50, 35, 60, 0.3) 0 -3px 9px 0px inset;
  border: none;
}

@media (min-width: 43.75em) {
  .admin-tasks {
    text-align: left;
  }
}
/**
 * @file
 * SMACCS states.
 */
#navigation:focus,
.primary-content:focus,
#modal--common:focus {
  outline: none;
}

[class*="header_widgets"] .langswitch {
  display: none;
}

@media (min-width: 43.75em) {
  [class*="header_widgets"] .langswitch {
    display: block;
  }

  [class*="header_widgets"] .menu-button,
  .menu-button.fixed,
  [class*="main-menu"] .langswitch {
    display: none;
  }
}
[data-modal-show="true"] .menu-button {
  opacity: 0;
}

[data-scrolled-in="true"] .menu-button.fixed {
  right: 1em;
  opacity: 1;
}
[data-modal-show="true"] .menu-button.fixed {
  opacity: 0;
}

.has-js [id="navigation"] {
  display: none;
}

@media (min-width: 43.75em) {
  .has-js [id="navigation"] {
    display: block;
  }

  .overlay--nav,
  .modal--nav {
    display: none !important;
  }
}
[data-modal-init="true"] [id="overlay--common"],
[data-modal-init="true"] [id="modal--common"] {
  display: block;
}

[data-modal-show="true"] [id="overlay--common"],
[data-modal-show="true"] [id="modal--common"] {
  opacity: 1;
}

[data-modal-init="false"] [id="overlay--common"],
[data-modal-init="false"] [id="modal--common"] {
  display: none;
}

[data-modal-show="false"] [id="overlay--common"],
[data-modal-show="false"] [id="modal--common"] {
  opacity: 0;
}

[id="overlay--common"],
[id="modal--common"] {
  cursor: pointer;
}

[id="modal__content"] {
  cursor: default;
}

[id="throbber--modal"][data-on="true"] {
  opacity: 1;
}

[id="throbber--modal"][data-on="false"] {
  opacity: 0;
}

[data-modal-init="false"] [id="throbber--modal"] {
  display: none;
}

/**
 * @file
 * Quickfixes.
 *
 * @see
 * http://csswizardry.com/2013/04/shame-css/
 */
.primary-content.entity .field--field_body .field__content > h1:first-child, .primary-content.entity .field--field_body .field__content > h2:first-child, .primary-content.entity .field--field_body .field__content > h3:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
