/**
 * @file
 * Components.
 *
 * Components are such elements on the pages that exist at their own right, and
 * other things can not build upon them.
 */


// #############################################################################
// Content meta-data readout.

.content-meta__info {
  font-size: 0.9em;
  padding: $layout-pad*0.5 0 0;
}
.content-meta__item {
  display: inline-block;
  line-height: 1.8;
  margin: 0 $layout-pad*3 $layout-pad*0.5 0;

  &:last-child {
    margin-right: 0;
  }
  li {
    display: inline-block;
  }
  .label {
    display: block;
  }
}


// #############################################################################
// In-text components.

.textbox,
blockquote {
  @include textbox-base;
}
.textbox--hero {
  @include textbox-variant(hero);
}
.textbox--highlight {
  @include textbox-variant(highlight);
}
.textbox--note {
  @include textbox-variant(note);
}
.textbox--links {
  @include textbox-variant(links);
}
blockquote {
  @include textbox-variant(blockquote);
}

// Defintions-list-y style for Markdown-authored material.
// 1. Default Markdown implementations don't handle <dl>'s at all.
//    1a. I only want to use a default Markdown implementation, because to me,
//        that's whose remaining maintained seems to be the most likely.
// 2. I like <dl>'s a lot.
// 3. I don't want to give up Markdown's help within manually declared <dl>
//    items.
// 4. So I came up with wrapping a regular (Markdown-supported) <ul> into a div
//    that has a '.defs' class.
//    4a. Yes, default Markdown implementations don't do much inside divs
//        either.
//    4b. That's why I use custom ==DEFS== and ==/DEFS== strings in the text
//        that I preg_replace into the div.defs after parsing with Markdown.

.defs {
  // Making it look more definitions-list-y.
  & > ul {
    @include bare-list;

    & > li {
      & > p,
      & > div {
        margin-left: 1em;
      }
      & > p:first-of-type {
        font-style: italic;
        font-weight: 700;
      }
    }
    ul {
      list-style-type: disc;
      padding-left: $layout-pad*2;

      ul {
        list-style-type: circle;
        padding-left: $layout-pad*1.5;

        ul {
          list-style-type: square;
        }
      }
    }
  }
}


// #############################################################################
// Fields.

.tpl--field {
  margin-bottom: $layout-pad;

  &:last-child {
    margin-bottom: 0;
  }
}

.field_type--image {
  a,
  img {
    @include image-fit;

    max-width: 100%;
  }
  .img__border {
    @include n-clearfix;
    
    display: inline-block; // Because it can be placed inside an <a> tag.
    max-width: 100%;
    line-height: 1;
    vertical-align: bottom;

    img {
      // That's against a Chrome glitch of positioning the inline-block image
      // 1px too high. This solves that.
      float: left;
    }
  }
  .tpl--field + &,
  & + .tpl--field {
    margin-top: $layout-pad*2;
  }
}


// #############################################################################
// Presentations.

// -----------------------------------------------------------------------------
// Article previews.

.p10n--article_preview {
  .field_type--image {
    text-align: center;

    .img__border { // Overspecifying for winning over skin rules.
      max-width: 11em;
    }
  }
  @include breakpoint($bkp-narrow-mt-min) {
    .field_type--image {
      text-align: left;

      .img__border { // Overspecifying for winning over skin rules.
        max-width: 100%;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Image previews.

.p10n--image_display_preview {
  .l--matrix > & {
    text-align: center;

    .field_type--image {
      display: inline-block;
    }
  }
}

// -----------------------------------------------------------------------------
// Entity type "dynamic", view mode full.

.p10n--dynamic_full {
  .field_id--field_description {
    margin-bottom: $layout-pad*2;
  }
}

// -----------------------------------------------------------------------------
// "Feature highlight".

.tpl--feature_highlight {
  @include display-flex;
  @include flex-direction(column);

  text-align: center;
  padding: $layout-pad*1.5 $layout-pad;

  // The bottom button can be sent to the bottom of the box by _not_ applying
  // flex declaration on its wrapper, the .fh__actions. So the items above it
  // will stretch in size (to fill the box as much as they can), while the
  // .fl__actions will remain its original size, and it finds itself pushed to
  // the very bottom.
  // (I hope I won't hit a flexbox browser implementation difference or a bug
  // with doing this.)
  .fh__image,
  .fh__text {
    @include flex(1 1 auto);
  }

  .slot--image {
    width: 100px;
    margin: 0 auto;

    img {
      @include border-radius(100%);
    }
  }
  .slot--title {
    @include h3-style;
    @include pseudo-heading-shared;

    margin: $layout-pad*0.5 0;
  }
  .slot--button {
    a {
      @include button($color: nav);

      margin-top: $layout-pad;
    }
  }
}


// #############################################################################
// (Flexi)list-related arrangements.

.l--list-plain {
  & > .item + .item {
    margin-top: $layout-pad*2;
  }
  .field_id--field_title {
    @include h4-style;
    @include pseudo-heading-shared;

    font-weight: 400;
    margin-top: -0.15em;
    margin-bottom: 0;

  }
  .field_id--field_preview_text {
    font-size: 0.9em;
  }
}

@include breakpoint($bkp-narrow-mt-min) {
  .l--list-plain {
    & > .item + .item {
      margin-top: $layout-pad*2.2;
    }
  }
}
