/**
 * @file
 * Structures and layouts.
 *
 * Structures are stuff that are half-prepared things that other stuff can
 * reuse and build upon.
 */

.box {
  @include box();
}

.tpl--block {
  margin-bottom: $layout-pad*2;

  &:last-child {
    margin-bottom: 0;
  }
}
.sidebar .tpl--block {
  margin-bottom: $layout-pad*1.5;

  &:last-child {
    margin-bottom: 0;
  }
}
.column {
  // Same as the sidebar block margin.
  margin-bottom: $layout-pad*1.5;
}

@include breakpoint($bkp-wide-min) {
  .column {
    margin-bottom: 0;
  }
}


// #############################################################################
// Layouts.

/**
 * @see
 * https://github.com/at-import/Singularity/wiki
 * http://snugug.github.io/RWD-with-Sass-Compass/#/interesting-grids
 * http://snugug.github.io/RWD-with-Sass-Compass/#/nested-grid-html
 */


// #############################################################################
// Setting up grids.

// @include sgs-change('debug', true); // The grid-bg-displays depend on this.

.grid {
  @include n-clearfix;

  list-style-type: none; // In case we gridify a list.

  // .tpl--block { background: rgba(black,0.1); } // For debugging;
}


// #############################################################################
// .layout--2sb: a layout with 2 sidebars.

// This layout is used (best) for the primary layout of a page.

// There are three sets of settings here: one for a symmetric arrangement, and
// two others for grouping both the sidebars onto the left or right side
// correspondingly.

// NOTE:
// The arrangements you don't use should be commented out in order to not weigh
// down the generated .css file.

// -----------------------------------------------------------------------------
// Default arrangement is a symmetric one: .main_content is in the center,
// sidebars surround it from each side.

// SYMMETRIC: There is one sidebar: .sidebar_1
.layout--2sb.symmetric.has-1-sb.sb-1 {
  @include add-grid(6 18 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  // @include background-grid;
}
.layout--2sb.symmetric.has-1-sb.sb-1 {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 2);

      padding-left: 6%;
    }
    & > .sidebar_1 {
      @include grid-span(1, 1);
    }
  }
}
// SYMMETRIC: There is one sidebar: .sidebar_2
.layout--2sb.symmetric.has-1-sb.sb-2 {
  @include add-grid(18 6 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  // @include background-grid;
}
.layout--2sb.symmetric.has-1-sb.sb-2 {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 1);

      padding-right: 6%;
    }
    & > .sidebar_2 {
      @include grid-span(1, 2);

      margin-bottom: $layout-pad*2;
    }
  }
}
// SYMMETRIC: Present on the page: both sidebars.
.layout--2sb.symmetric.has-2-sb {
  @include add-grid(6 18 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  @include add-grid(6 12 6 at $bkp-wide-ht-min);
  @include add-gutter(1 at $bkp-wide-ht-min);
  // @include background-grid;
}
.layout--2sb.symmetric.has-2-sb {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 2);

      padding-left: 6%;
      padding-right: 6%;
    }
    & > .sidebar_1 {
      @include grid-span(1, 1);
    }
    & > .sidebar_2 {
      clear: both;
    }
  }
  @include breakpoint($bkp-wide-ht-min) {
    & > .main_content {
      @include grid-span(1, 2);

      padding-left: 0;
      padding-right: 0;
    }
    & > .sidebar_1 {
      @include grid-span(1, 1);
    }
    & > .sidebar_2 {
      @include grid-span(1, 3);
    }
  }
}

// -----------------------------------------------------------------------------
// .layout_2sb variant: &.content-left

// CONTENT-LEFT: There is one sidebar.
.layout--2sb.content-left.has-1-sb {
  @include add-grid(18 6 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  // @include background-grid;
}
.layout--2sb.content-left.has-1-sb {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 1);

      padding-left: 6%;
      padding-right: 6%;
    }
    & > .sidebar {
      @include grid-span(1, 2);
    }
  }
}
// CONTENT-LEFT: Present on the page: both sidebars.
.layout--2sb.content-left.has-2-sb {
  @include add-grid(18 6 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  @include add-grid(12 6 6 at $bkp-wide-ht-min);
  @include add-gutter(1 at $bkp-wide-ht-min);
  // @include background-grid;
}
.layout--2sb.content-left.has-2-sb {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 1);

      padding-left: 6%;
      padding-right: 6%;
    }
    & > .sidebar_1 {
      @include grid-span(1, 2);
    }
    & > .sidebar_2 {
      clear: both;
    }
  }
  @include breakpoint($bkp-wide-ht-min) {
    & > .main_content {
      @include grid-span(1, 1);

      padding-left: 3.85%;
      padding-right: 0;
    }
    & > .sidebar_1 {
      @include grid-span(1, 2);
    }
    & > .sidebar_2 {
      @include grid-span(1, 3);
    }
  }
}

// -----------------------------------------------------------------------------
// .layout_2sb variant: &.content-right

// CONTENT-RIGHT: There is one sidebar.
.layout--2sb.content-right.has-1-sb {
  @include add-grid(6 18 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  // @include background-grid;
}
.layout--2sb.content-right.has-1-sb {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 2);

      padding-left: 6%;
      padding-right: 6%;
    }
    & > .sidebar {
      @include grid-span(1, 1);
    }
  }
}
// CONTENT-RIGHT: Present on the page: both sidebars.
.layout--2sb.content-right.has-2-sb {
  @include add-grid(6 18 at $bkp-wide-min);
  @include add-gutter(0 at $bkp-wide-min);
  @include add-grid(6 6 12 at $bkp-wide-ht-min);
  @include add-gutter(1 at $bkp-wide-ht-min);
  // @include background-grid;
}
.layout--2sb.content-right.has-2-sb {
  @include breakpoint($bkp-wide-min) {
    & > .main_content {
      @include grid-span(1, 2);

      padding-left: 6%;
      padding-right: 6%;
    }
    & > .sidebar_1 {
      @include grid-span(1, 1);
    }
    & > .sidebar_2 {
      clear: both;
    }
  }
  @include breakpoint($bkp-wide-ht-min) {
    & > .main_content {
      @include grid-span(1, 3);

      padding-left: 0;
      padding-right: 3.85%;
    }
    & > .sidebar_1 {
      @include grid-span(1, 1);
    }
    & > .sidebar_2 {
      @include grid-span(1, 2);
    }
  }
}


// #############################################################################
// (Flexi)lists.

.l--list-plain {
  & > .item {
    margin-bottom: $layout-pad;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*
.fl-item--standard + .fl-item--standard {
  margin-top: $layout-pad*1.25;
}

.fl--style-plain {
  .field_id--field_title {
    font-size: 1.4em;
  }
  .field_id--field_preview_text {
    margin-top: $layout-pad*0.25;
    padding-left: $layout-pad;

    .field__content {
      font-size: 0.9em;
    }
    p,
    ul {
      margin: 0 0 0.5em;
    }
    p:last-child,
    ul:last-child {
      margin-bottom: 0;
    }
  }
}

// -----------------------------------------------------------------------------
@include breakpoint($bkp-wide-min) {
  .fl--style-plain .field_id--field_preview_text {
    padding-left: 1.5em;
  }
}

.fl--style-images-large {
  .fl-item + .fl-item {
    margin-top: $layout-pad*2.5;
  }
}
*/


// #############################################################################
// Grids.

// Shared styles of all .l--matrix variants.
.l--matrix {
  text-align: center;

  & > .item {
    @include transition-property(all);
    @include transition-duration($transitspeed-mid);

    display: inline-block;
    margin-bottom: $layout-pad*1.5;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.l--matrix--cols-3 {
  @include add-grid(2 at $bkp-narrow-ht-min);
  @include add-gutter(0.1 at $bkp-narrow-ht-min);
  @include add-grid(3 at $bkp-wide-ht-min);
  @include add-gutter(0.1 at $bkp-wide-ht-min);

  @include breakpoint($bkp-narrow-ht-min) {
    & > .item {
      display: block;
    }
  }

  // Two-col grid when wide enough.
  @include breakpoint($bkp-narrow-ht-min $bkp-wide-mt-max) {
    & > .item:nth-child(2n+1) {
      @include grid-span(1, 1);

      clear: left;
    }
    & > .item:nth-child(2n+2) {
      @include grid-span(1, 2);
    }
    // Note: the first one had its bottom margin: 0 at the basic definition.
    & > .item:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  // Three-col grid when wide enough.
  @include breakpoint($bkp-wide-ht-min) {
    & > .item:nth-child(3n+1) {
      @include grid-span(1, 1);

      clear: left;
    }
    & > .item:nth-child(3n+2) {
      @include grid-span(1, 2);
    }
    & > .item:nth-child(3n+3) {
      @include grid-span(1, 3);
    }
    // Note: the first one had its bottom margin: 0 at the basic definition.
    & > .item:nth-last-child(2),
    & > .item:nth-last-child(3) {
      margin-bottom: 0;
    }
  }
}

.l--matrix--cols-4 {
  @include add-grid(2 at $bkp-narrow-mt-min);
  @include add-gutter(0.1 at $bkp-narrow-mt-min);
  @include add-grid(3 at $bkp-wide-min);
  @include add-gutter(0.1 at $bkp-wide-min);
  @include add-grid(4 at $bkp-wide-ht-min);
  @include add-gutter(0.1 at $bkp-wide-ht-min);

  @include breakpoint($bkp-narrow-mt-min) {
    & > .item {
      display: block;
    }
  }

  // Two-col grid when wide enough.
  @include breakpoint($bkp-narrow-mt-min $bkp-narrow-max) {
    & > .item:nth-child(2n+1) {
      @include grid-span(1, 1);

      clear: left;
    }
    & > .item:nth-child(2n+2) {
      @include grid-span(1, 2);
    }
    // Note: the first one had its bottom margin: 0 at the basic definition.
    & > .item:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  // Three-col grid when wide enough.
  @include breakpoint($bkp-wide-min $bkp-wide-mt-max) {
    & > .item:nth-child(3n+1) {
      @include grid-span(1, 1);

      clear: left;
    }
    & > .item:nth-child(3n+2) {
      @include grid-span(1, 2);
    }
    & > .item:nth-child(3n+3) {
      @include grid-span(1, 3);
    }
    // Note: the first one had its bottom margin: 0 at the basic definition.
    & > .item:nth-last-child(2),
    & > .item:nth-last-child(3) {
      margin-bottom: 0;
    }
  }
  // Four-col grid when wide enough.
  @include breakpoint($bkp-wide-ht-min) {
    & > .item:nth-child(4n+1) {
      @include grid-span(1, 1);

      clear: left;
    }
    & > .item:nth-child(4n+2) {
      @include grid-span(1, 2);
    }
    & > .item:nth-child(4n+3) {
      @include grid-span(1, 3);
    }
    & > .item:nth-child(4n+4) {
      @include grid-span(1, 4);
    }
    // Note: the first one had its bottom margin: 0 at the basic definition.
    & > .item:nth-last-child(2),
    & > .item:nth-last-child(3)
    & > .item:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}


// #############################################################################
// Splitters.

.splitter > .item {
  margin-top: $layout-pad;
  margin-bottom: $layout-pad;
}

@include breakpoint($bkp-wide-mt-min) {
  .splitter__fit {
    overflow-x: hidden;
  }
  .splitter__wrap {
    margin-left: -$layout-pad*2;
    margin-right: -$layout-pad*2;
  }
  .splitter {
    display: table;
    table-layout: fixed;
    width: 100%;

    & > .item {
      display: table-cell;
      margin: 0;
      padding-left: $layout-pad*2;
      padding-right: $layout-pad*2;
    }
  }
}

