/**
 * @file
 * Rules for navigation.
 */


// #############################################################################
// Language switchers.

.langswitch {
  ul {
    @include bare-list;
  }
  li {
    display: inline-block;
    vertical-align: middle;
  }
  li + li {
    margin-left: $layout-pad*1.5;
  }
}
.locale {
  display: block;
  line-height: 1;

  .flag {
    @include icon(main);

    border: 1px solid transparent;
    display: block;
    height: 20px;
    line-height: 1;
    width: 30px;
  }
}
// Picking the corresponding flags from the sprite.
.locale--primary .flag {
  background-position: center 0;
}
.locale--secondary .flag {
  background-position: center -20px;
}

.langswitch {
  .pretext {
    padding-bottom: $layout-pad*0.5;
  }
  [class*="header_widgets"] & {
    float: right;
  }
  .label {
    text-align: left;

    &.has-icon:before {
      @include icon(main);

      content: '';
      display: inline-block;
      height: 18px;
      margin-right: $layout-pad*0.75;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 18px;
    }
  }

  // SVG icon variants for displaying over a dark background.
  .label.home-page:before {
    background-position: center -190px;
  }
  .label.translations:before {
    background-position: center -210px;
  }
  .label.no-translations:before {
    background-position: center -230px;
  }
}

// That's the langswitch that got placed into the mobile main menu
// (in the modal).
.langswitch--nav {
  padding: $layout-pad*0.25 0 $layout-pad*0.75;

  // SVG icon variants for displaying over a bright background.
  .label.home-page:before {
    background-position: center -250px;
  }
  .label.translations:before {
    background-position: center -270px;
  }
  .label.no-translations:before {
    background-position: center -290px;
  }
}


// #############################################################################
// Menus.

$_menu-color: color(nav);
$_light-color: color(blockfill);

// -----------------------------------------------------------------------------
// Regular menus.

.menu,
.menu ul {
  @include bare-list;

  line-height: 1.2;
}
// NOTE: the .menu__button class is shared between live links and static menu
// items, while .menu__link class is present only on live links. Since some
// rules must be shared among links and static items, and some rules must not,
// it neccessitates some juggling with styles around these classes.
.nav-format--regular {
  .menu__button {
    @include disable-font-boost;

    display: block;
    position: relative;

    & > span {
      @include box-sizing(border-box);

      // Later we will need the border, and we don't want it to jump when the it
      // appears. So we put it there now as transparent.
      border: 1px dotted transparent;
      display: inline-block;

      // Indicator-arrow in inactive state. (Opacity: 0)
      // &:after {
      //   @include transition-property(opacity);
      //   @include transition-duration($transitspeed-fast);
      //
      //   color: white;
      //   font-family: monospace;
      //   font-size: 12px;
      //   height: 12px;
      //   line-height: 1;
      //   margin-top: -6px;
      //   opacity: 0;
      //   position: absolute;
      //   top: 50%;
      // }
    }
  }
  .menu__static {
    display: block;

    & > span {
      font-size: 0.75em;
      font-style: italic;
      font-weight: 700;
      text-transform: uppercase;

      &:after {
        content: ':';
      }
    }
  }
}

// Menu-level depth indications.
.indications--on-right {
  .nav-format--regular {
    // Supplementary indications in menu items (not in use, currently).
    // .menu__link > span:after {
    //   content: '\25B6'; // Right pointing arrow.
    //   right: 0.4em;
    // }
    .menu__button {
      padding-left: $layout-pad*0.5;
      padding-right: $layout-pad*1;
    }
    .depth--2 > .menu__button {
      padding-left: $layout-pad*1.25;
    }
    .depth--3 > .menu__button {
      padding-left: $layout-pad*2;
    }
    .depth--4 > .menu__button {
      padding-left: $layout-pad*2.75;
    }
  }
}
.indications--on-left {
  .nav-format--regular {
    // .menu__link > span:after {
    //   content: '\25c0'; // Left pointing arrow.
    //   left: 0.4em;
    // }
    .menu__button {
      padding-left: $layout-pad*1;
      padding-right: $layout-pad*0.5;
    }
    .depth--2 > .menu__button {
      padding-left: $layout-pad*1.75;
    }
    .depth--3 > .menu__button {
      padding-left: $layout-pad*2.5;
    }
    .depth--4 > .menu__button {
      padding-left: $layout-pad*3.25;
    }
  }
}

// -----------------------------------------------------------------------------
// Menu variant: button-row.

.nav-format--button-row {
  .menu__item {
    float: left;
    margin: 0 $layout-pad*0.25 $layout-pad*0.5;
    white-space: nowrap;
  }
}

// -----------------------------------------------------------------------------
// Mobile-menu-trigger buttons.

a.menu-trigger { // Overqualifying because of link rules to be overridden.
  display: inline-block;
  font-size: 0.9em;
  padding: 0.1em 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;

  &.fixed {
    // Fixing a Chrome bug of flickering fixed elements.
    -webkit-transform: translateZ(0);

    bottom: $layout-pad;
    position: fixed;
    right: -10em; // Off-screen.
    opacity: 0; // Only scrolled-in state (see states) will show it.
    z-index: 9000;
  }
}



// #############################################################################
// Operation of menus, menu-triggers, and language switchers.

.external-js .col--sidebar .block--menu {
  display: none;
}
[class*="header_widgets"] .langswitch {
  display: none;
}

.menu-trigger {
  [data-modal-show="true"] & {
    opacity: 0;
  }
}
.menu-trigger.fixed {
  display: none;

  [data-scrolled-in="true"] & {
    display: inline-block;
    right: $layout-pad;
    opacity: 1;
  }
  [data-modal-show="true"] & {
    opacity: 0;
  }
}

@include breakpoint($bkp-wide-min) {
  .external-js .col--sidebar .block--menu {
    display: block;
  }
  .overlay--nav,
  .modal--nav {
    display: none !important;
  }
  [class*="header_widgets"] .langswitch {
    display: block;
  }
  [class*="header_widgets"] .menu-trigger,
  .menu-trigger.fixed,
  [class*="main-menu"] .langswitch {
    display: none !important;
  }
}


// #############################################################################
// Overlays and modals.

[id="overlay--common"],
[id="modal--common"] {
  // TODO: move these into SMACCS-theme.
  // @include transition-property(opacity);
  // @include transition-duration($transitspeed-mid);

  display: none;
  opacity: 0;
}
[id="overlay--common"] {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 9100;
}
[id="modal--common"] {
  left: 0;
  height: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9200;
}

// Throbber.
[id="throbber--modal"][data-on="true"] {
  opacity: 1;
}
[id="throbber--modal"][data-on="false"] {
  opacity: 0;
}
[data-modal-init="false"] [id="throbber--modal"] {
  display: none;
}

[id="overlay--common"] {
  background: gray;
  background: rgba(black,0.65);
}
[id="modal__content"] {
  background: color(bg-light);
  max-width: $layout-page-max-width - 200;
  margin: $layout-pad*1.5 $layout-pad $layout-pad;
  position: relative;
}
[id="modal__close"] {
  @include strip-button;
  @include border-radius(50%);

  background: gray;
  border: 1px solid gray;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 24px;
  z-index: 1; // To raise it above the modal's content. (???).

  &:before {
    @include icon(main);

    background-position: center -131px;
    content: '';
    display: block;
    height: 22px;
    width: 22px;
  }
  &:focus {
    @include box-shadow(color(link-invert) 0 0 5px 2px);

    border-color: color(text-invert);
    outline: none;
  }
}

// -----------------------------------------------------------------------------
// Modal variants.
.modal--nav {
  [id="modal__content"] {
    padding: $layout-pad*0.5;
  }
}

// -----------------------------------------------------------------------------
// Modal operations.

[data-modal-init="true"] {
  [id="overlay--common"],
  [id="modal--common"] {
    display: block;
  }
}
[data-modal-show="true"] {
  [id="overlay--common"],
  [id="modal--common"] {
    opacity: 1;
  }
}
[data-modal-init="false"] {
  [id="overlay--common"],
  [id="modal--common"] {
    display: none;
  }
}
[data-modal-show="false"] {
  [id="overlay--common"],
  [id="modal--common"] {
    opacity: 0;
  }
}
[id="overlay--common"],
[id="modal--common"] {
  cursor: pointer;
}
[id="modal__content"] {
  cursor: default;
}


// #############################################################################
// Misc.

// NOTE: The throbber is being unfinished.
.throbber {

}
// TODO: shouldn't it be called throbber--global?
.throbber--modal {
  @include border-radius(12px);
  @include box-shadow;
  @include transition-property(opacity);
  @include transition-duration($transitspeed-mid);

  background: color(action);
  border: 2px solid color(text-invert);
  display: block;
  height: 32px;
  left: 50%;
  margin: -12px 0 0 -12px;
  opacity: 0; // Only data-on="true" attribute should show it. See SMACCS_states.
  padding: 2px;
  position: fixed;
  width: 32px;
  top: 50%;
  z-index: 900;

  &:before {
    @include icon(main);

    background-position: center -160px;
    content: ' ';
    display: inline-block;
    height: 24px;
    width: 24px;

    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    -ms-animation: spinner 1s linear infinite;
    -o-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
  }
}

@-webkit-keyframes spinner {
  100% {
    @include transform(rotate(360deg));
  }
}
@-moz-keyframes spinner {
  100% {
    @include transform(rotate(360deg));
  }
}
@-ms-keyframes spinner {
  100% {
    @include transform(rotate(360deg));
  }
}
@-o-keyframes spinner {
  100% {
    @include transform(rotate(360deg));
  }
}
@keyframes spinner {
  100% {
    @include transform(rotate(360deg));
  }
}
