/**
 * @file
 * Styles: page groups and specific pages.
 *
 * Intended contents:
 * - rare stlyings that occur only on specific pages, typically concerning
 *   components and content on specific pages.
 * - If there are different page-variants that have altered- or unique page
 *   definition (header, footer, unique body bg), that could be placed here too.
 */


// #############################################################################
// Homepage.

.p10n--mosaic_homepage {
  .col--main {
    .block__title {
      @include h2-style-in-article;
    }
  }
  .l--list-plain {
    padding-top: $layout-pad*0.75;
  }
}


// #############################################################################
// Admin-page.

.admin-tasks {
  @include bare-list;

  text-align: center;

  li + li {
    margin-top: $layout-pad;
  }
  a {
    @include button($color: action);
  }
}

@include breakpoint($bkp-wide-min) {
  .admin-tasks {
    text-align: left;
  }
}


// #############################################################################
// Component-demo page.

.component-demo {
  .cd__title {
    margin-bottom: 0.15em;
  }
  .component-demo + & {
    margin-top: $layout-pad*3.5;
  }
}
.cd__description {
  @include description-style;

  margin-bottom: $layout-pad*2;
}
