/**
 * @file
 * Definitions of variables + further Compass setup.
 *
 * On configuring Compass:
 * @see
 * http://compass-style.org/help/documentation/configuration-reference/
 * http://compass-style.org/help/documentation/sass-based-configuration-options/
 * http://compass-style.org/index/variables/
 *
 * On using Compass:
 * @see
 * http://compass-style.org/reference/compass/
 * http://compass-style.org/index/mixins/
 * http://compass-style.org/index/functions/
 *
 * On rgba() colors:
 * @see
 * http://thesassway.com/intermediate/mixins-for-semi-transparent-colors
 *
 *
 * On further plugins:
 * @see
 * http://snugug.com/musings/introducing-breakpoint-media-queries-made-easy
 * https://github.com/codingdesigner/breakpoint/blob/master/README.markdown
 * https://github.com/at-import/breakpoint/wiki/Advanced-Media-Queries
 *
 * https://github.com/at-import/Singularity
 *
 * On everything:
 * @see
 * http://caniuse.com/
 * http://mcdlr.com/8/ ('Useful UTF-8 Characters')
 */

// #############################################################################
// Compass setup.

// Compass modules.
@import "compass/utilities";
@import "compass/support";
@import "compass/css3";
@import "compass/layout";
@import "breakpoint";
@import "singularitygs";

// $debug-configuration: true; // I don't know what it does.


// #############################################################################
// Theme variables.

// -----------------------------------------------------------------------------
// Layout variables.

$layout-page-min-width:     300px;
$layout-page-max-width:    1100px;
$layout-pad:                  1em;

// Breakpoints.
$breakpoint-to-ems: true;
// $breakpoint-force-media-all: true;

/* LEGEND for the breakpoint variables:
| <- $layout-page-min-width                          $layout-page-max-width -> |
|                                                                              |
|             <- narrow ->              |              <- wide ->              |
|                                       |                                      |
|   narrow   |   narrow   |   narrow    |    wide    |    wide    |    wide    |
|  lowthird  |  midthird  |  highthird  |  lowthird  |  midthird  |  highthird |
| (narrow-lt)| (narrow-mt)| (narrow-ht) |  (wide-lt) |  (wide-mt) |  (wide-ht) |
*/

$bkp-narrow-lt-max:         419px;
$bkp-narrow-mt-min:         420px;
$bkp-narrow-mt-max:         559px;
$bkp-narrow-ht-min:         560px;

$bkp-narrow-max:            699px;
$bkp-wide-min:              700px;

$bkp-wide-lt-max:           819px;
$bkp-wide-mt-min:           820px;
$bkp-wide-mt-max:           959px;
$bkp-wide-ht-min:           960px;

$bkp-wide-ht-max: $layout-page-max-width - 1;
// For above highthird max, you can use 'min-width: $layout-page-max-width';

$bkp-flexboxes-enable-default: $bkp-wide-ht-min;

// -----------------------------------------------------------------------------
// Typography.

$default-font-size:          16px;
$default-line-height:       1.5;

// @ingroup not_sophisticated.
$font-websafe-sans-1: Arial, Helvetica, sans-serif;
$font-web-sans-1: "Roboto", sans-serif;
$font-websafe-serif-1: Georgia, "Times New Roman", serif;
$font-websafe-mono-1: "Courier New", monospace, sans-serif;

// -----------------------------------------------------------------------------
// Colors.

// @see
// http://html-color-codes.info/color-names/
// https://color.adobe.com/create/color-wheel/
// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
// http://webdesign.tutsplus.com/tutorials/all-you-ever-need-to-know-about-sass-interpolation--cms-21375

// NOTE: Temp-colors are just a helper stage to set up the base colors in the
// color-map below.

// Palette 1.
$temp-color-prim:        desaturate(lighten(navy, 25%), 70%);
$temp-color-accent-1:    desaturate(magenta, 60%);
$temp-color-accent-2:    desaturate(darken(cyan, 10%), 35%);
$temp-color-blockfill:   #eee;
$temp-color-border-base: #888;


// Color map.
// In the stylesheets, use only this map to refer to colors. It's awesome power.
// In SASS, only with this one can you have 'variable variable names'.
// NOTE: there is a debug-map() function in the _shared_sass_mixins.scss file.
$colors: (
  prim:                   $temp-color-prim,
  accent-1:               $temp-color-accent-1,
  accent-2:               $temp-color-accent-2,
  nav:                    $temp-color-prim,
  menu:                   $temp-color-prim,
  menu-light:             $temp-color-blockfill,
  action:                 $temp-color-accent-1,
  help:                   $temp-color-accent-2,
  text:                   #333,
  text-invert:            white,
  bg-light:               white,
  bg:                     $temp-color-blockfill,
  bg-dark:                #333,
  blockfill:              $temp-color-blockfill,
  link:                   lighten(saturate($temp-color-prim, 15%), 5%),
  link-visited:           desaturate(lighten(purple, 20%), 55%),
  link-hover:             saturate($temp-color-prim, 25%),
  link-invert:            white,
  link-invert-visited:    white,
  border-mid:             $temp-color-border-base,
  border-light:           #ccc,
  border-dark:            darken($temp-color-border-base, 20%),
  minor:                  #777,
  shadow:                 rgba(50, 35, 60, 0.5)
);

// Color retriever function. Usage example:
// .foo { background: color(bar); }
@function color($key) {
  @return map-get($colors, $key);
}


// -----------------------------------------------------------------------------
// CSS effects defaults.

// Box shadow syntax: $color $hoff $voff $blur $spread $inset.
// NOTE: em units in shadows would result in inconsistent instances in Firefox.
$default-box-shadow-color:     color(shadow);
$default-box-shadow-h-offset:  0;
$default-box-shadow-v-offset:  1px;
$default-box-shadow-blur:      4px;
$default-box-shadow-spread:    0;

$default-border-radius:        3px;

$default-text-shadow:          0 1px 4px darken(color(shadow), 15%);

$transitspeed-fast:            0.1s;
$transitspeed-mid:             0.4s;
$transitspeed-slow:            0.7s;
