/**
 * @file
 * Skin.
 *
 * Belong here:
 * colors, backgrounds, borders, radiuses, effects.
 *
 * Do not belong here:
 * font-size, -family, line-height, and other typography-related things.
 *
 * Might belong here:
 * Anything, if it is made neccessary by something legit belonging here.
 *
 * E.g. when something gets a non-default bg-color, extra padding might become
 * neccessary around it; then that padding should come here too.
 *
 * The reasoning behind this is that if that bg-color ever gets removed, then
 * the extra padding will likely be unneeded too; but it would be a hassle to
 * search for the declaration of that related padding elsewhere. So it may live
 * here then.
 */


// #############################################################################
// Page definition - skin.

html,
body {
  background: color(bg);
  color: color(text);
}
[id="main-screen"] {
  background: color(bg-light);
}
.page-level--header {
  // Hack to make sure the shadow doesn't weaken on the left and right ends.
  // Box shadow syntax: $color $hoff $voff $blur $spread $inset
  // @include box-shadow(lighten(color(shadow), 10%) 0 -3px 4px 4px);
  @include text-color-invert-zone;

  background: color(prim);
  position: relative;
  z-index: 10; // So that it elevates above .page-level--main.

  &,
  & .label {
    color: rgba(color(text-invert), 0.7);
  }
}
.content-meta__info {
  border-top: 1px solid color(border-light);
  border-bottom: 1px solid color(border-light);
}
.page-level--footer {
  background: color(blockfill);
}


// #############################################################################
// Texts - skin.

h1,
h2,
h3,
h4,
h5,
h6,
.pseudo-heading {
  color: lighten(color(text), 10%);
}
a {
  // Order of link styling:
  // :focus, :visited, :hover, :visited:hover, :active.

  @include transition-color;

  color: color(link);
  text-decoration: none;

  &:focus {
    outline: 1px dotted color(link);
  }
  &:visited {
    color: color(link-visited);
  }
  &:hover {
    color: color(link-hover);
    text-decoration: underline;
  }
  &:visited:hover {
    color: color(link-visited);
  }
}
.label {
  color: color(minor);
}
del {
  color: lighten(color(minor), 25%);
}
code {
  @include border-radius;

  background: color(blockfill);
  padding: 0.05em 0.35em;
}
pre {
  @include border-radius;

  background: color(blockfill);
}
.messages .code {
  background: rgba(color(text-invert), 0.5);
}
::selection {
  background: color(prim);
  color: color(text-invert);
}
::-moz-selection {
  background: color(prim);
  color: color(text-invert);
}


// #############################################################################
// Components and structures - skin.

// -----------------------------------------------------------------------------
// Fields.

// -----------------------------------------------------------------------------
// Boxes, cards.

.tpl--feature_highlight  {
  @include border-radius;

  background: color(bg-light);
  border: 1px solid color(border-light);
}

// -----------------------------------------------------------------------------
// Misc components.

.images--bordered {
  a {
    &:hover,
    &:focus {
      outline: none;
    }
  }
  .img__border {
    @include image-border;
  }
  a:focus,
  a:hover {
    .img__border {
      $img-border-hover-color: color(nav);
      @include image-border($bg-color: $img-border-hover-color);
    }
  }
}

.messages {
  @include border-radius;
}


// #############################################################################
// Navigation - skin.

// -----------------------------------------------------------------------------
// Langswitchers.

.locale {
  .flag {
    border-color: color(text-invert);
    border-color: rgba(color(text-invert),0.5);
    position: relative;

    // An almost transparent overlay over flags that help to adjust their
    // percieved colors more harmonic to the theme's primary color.
    &:before {
      @include background-image(
        linear-gradient(
          135deg,
          transparent,
          rgba(color(prim),0.1),
          rgba(color(prim),0.3)
        )
      );
      bottom: 0;
      content: ' ';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
a.locale:focus {
  outline: none !important;
}
a.locale:hover .flag,
a.locale:focus .flag {
  @include box-shadow(color(link-invert) 0 0 4px 1px);

  border-color: rgba(color(text-invert), 0.8);
}
// That's the langswitch that got placed into the mobile main menu
// (in the modal).
.langswitch--nav {
  .flag {
    border-color: color(border-mid);
    border-color: rgba(color(border-mid),0.3);
  }
  a.locale:hover .flag,
  a.locale:focus .flag {
    @include box-shadow(color(nav) 0 0 4px 1px);

    border-color: color(text-invert);
  }
}

// -----------------------------------------------------------------------------
// Menus.

.nav-format--regular {
  @include border-radius;

  background: $_menu-color;
  // This is a bit risky setup, but with this very appearance, it might be
  // pulled off.
  overflow: hidden;

  ul {
    // Each level of nested menu is darker by this much.
    background: rgba(black,0.15);
  }
  .menu__button {
    @include transition-property(background-color);
    @include transition-duration($transitspeed-fast);

    border: 1px solid $_menu-color;
    border-top: 1px solid rgba(white,0.15);
    border-bottom: 1px solid rgba(black,0.15);
    padding: 5px $layout-pad*0.5;

    & > span {
      @include transition-property(background-color);
      @include transition-duration($transitspeed-fast);
      @include border-radius($default-border-radius*0.75);

      padding: 4px 0.33em;
    }
  }
  .menu__static {
    & > span {
      color: color(text-invert);
      color: rgba(color(text-invert),0.7);
      padding: 7px 0.5em 6px;
    }
  }
  .active-trail > .menu__button > span {
    background: rgba(white,0.15);
  }
  .menu__link {
    // Order of link styling:
    // :focus, :visited, :hover, :visited:hover, :active.

    color: white;
    text-decoration: none;
    text-shadow: $default-text-shadow;

    &:focus {
      outline: none;

      & > span {
        border-color: rgba(white, 0.75);
      }
    }
    &:hover {
      @include box-shadow(none);

      background-color: rgba(black,0.1);
      color: white;
      outline: none;

      & > span {
        background-color: rgba(black, 0.15);
        border-color: transparent;
      }
    }
    &:visited:hover {
      color: white;
    }
    &.active > span {
      background-color: rgba(black, 0.15);

      // &:after {
      //   opacity: 1;
      // }
    }
    // &:hover > span:after {
    //   opacity: 0.75;
    // }
  }
}

// Regular menu's color variants.
.nav-format--regular.variant--light {
  background: $_light-color;

  ul {
    // Overriding the nested menu levels' darkening, as it doesn't seem to
    // look good here.
    // NOTE: no substitute visual clue was invented in its place.
    background: transparent;
  }
  .menu__static {
    & > span {
      color: color(minor);
      color: rgba(color(text),0.7);
    }
  }
  .menu__button {
    border: 1px solid transparent;
    border-top: 1px solid rgba(white, 0.35);
    border-bottom: 1px solid color(border-light);

    &,
    &:hover,
    &:visited:hover {
      color: color(link);
    }
  }
  .menu__link {
    text-shadow: 0 0 4px rgba(white, 0.7);
  }
  .active-trail > .menu__button > span {
    background: rgba(white,0.75);
  }
  .menu__link {
    // Order of link styling:
    // :focus, :visited, :hover, :visited:hover, :active.

    &:focus > span {
      border-color: rgba(color(link), 0.75);
    }
    &:hover {
      background-color: rgba(black,0.05);

      & > span {
        background-color: rgba(black, 0.05);
        border-color: transparent;
      }
    }
    &.active > span {
      background-color: rgba(black, 0.07);
    }
  }
}

// Menu variant: button-row.
.nav-format--button-row {
  .menu__link {
    @include button($size: small, $color: plain-light);
  }
}

// -----------------------------------------------------------------------------
// Modals.

[id="overlay--common"],
[id="modal--common"] {
  @include transition-property(opacity);
  @include transition-duration($transitspeed-mid);
}
[id="modal__content"] {
  @include border-radius;

  background: color(bg-light);
}
[id="modal__close"] {
  @include box-shadow;
}

// -----------------------------------------------------------------------------
// Misc UI.

a.menu-trigger { // Overqualifying because of link rules to be overridden.
  @include border-radius;
  @include transition-property(opacity);
  @include transition-duration($transitspeed-mid);

  &,
  &:hover {
    border: 1px solid color(text-invert);
    border: 1px solid rgba(color(text-invert), 0.8);
    color: color(text-invert);
    color: rgba(color(text-invert),0.9);
    text-decoration: none;
  }
  // Come on, .menu-trigger is for mobile! Yes, but it's so nice.
  &:hover,
  &:focus {
    @include box-shadow(color(link-invert) 0 0 4px 1px);

    outline: none;
    border-color: color(text-invert);
  }

  &.fixed {
    @include border-radius(4px);
    @include box-shadow(
      $default-box-shadow-color
      0
      1px
      6px
      $default-box-shadow-spread
    );

    background: color(nav);
    border-color: color(text-invert);
    color: color(text-invert);
  }
}


// #############################################################################
// In-article styles.

// < dl >-looking lists in Markdown-authored content.
.defs > ul > li > p:first-of-type {
  border-bottom: 1px dotted color(border-mid);
  color: lighten(color(text), 10%);
  margin: 1em 0 0.5em;
  padding: 0.25em 0;
}

// The appearance (e.g. (bg-)colors) of textboxes could be amended here.

// .textbox,
// blockquote {
//
// }
// .textbox--hero {
//   &:before {}
// }
// .textbox--highlight {
//   &:before {}
// }
// .textbox--note {
//   &:before {}
// }
// .textbox--links {
//   &:before {}
// }
// blockquote {
//   &:before {}
// }


// #############################################################################
// Sprite prefetching for UI elements that appear only @ user interaction.

// (On mobile, the sprite-needing modal-elements only come out of display: none;
//  when the modal is activated. That's too late to request the sprite.)
// See:
// http://css-tricks.com/snippets/css/css-only-image-preloading/
// Note: link rel="prefetch" is not good enough, this is IMO better.

.jump-links { // Unsuspecting irrelevant element.
  @include icon(main);

  background-position: -9999px -9999px;
}
