/**
 * @file
 * Base styles.
 */

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  font-size: 100% * ($default-font-size / 16px);
  line-height: $default-line-height;
}

p,
ul,
ol,
dl {
  // first-of-type?
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
ul {
  padding-left: 1em;
}

.box {
  @include box();
}
.button--action {
  @include button($color: action);
}
.button--nav {
  @include button($color: nav);
}

img,
video {
  max-width: 100%;
  height: auto;
}

.hidden {
  @include hidden;
}

.field + .field {
  margin-top: $layout-pad;
}

code {
  @include border-radius;

  background: lighten(color(blockfill), 4%);
  font-size: 0.8em;
  padding: 0.05em 0.35em;

  .messages & {
    background: rgba(color(text-invert), 0.5);
    font-size: 0.9em;
  }
}
pre {

}

// #############################################################################
// Some fields.

.field--field_preview_image {
  a {
    @include link-no-hover-border;
  }
  img {
    @include image-fit;
    @include image-border;
  }
}
.dynamic--full {
  .field--field_description {
    margin-bottom: $layout-pad*2;
  }
}


// #############################################################################
// IE8.

.lt-ie9 {
  img {
    // Fixing 'responsive images' not showing in ie8.
    max-width: none;
    // Remove border when inside `a` element in IE 8/9.
    // border: 0; // TODO: check it out.
  }
}
