/**
 * @file
 * Styles: specific pages.
 */


// #############################################################################
// layout landing_1.

.layout--landing_1 {
  .column--main {
    .block__title {
      font-size: 1.5em;
      margin-bottom: 0.65em;
    }
    .flexilist .field_id--field_title {
      font-size: 1.2em;
    }
  }
}
@include breakpoint($bkp-multi-ht-min) {
  .layout--landing_1 {
    .column--main {
      .grid-item + .grid-item {
        margin-top: $layout-pad;
      }
      .block__title {
        margin-bottom: 1em;
      }
    }
  }
}


// #############################################################################
// Admin-page.
.admin-tasks {
  @include bare-list;

  text-align: center;

  li + li {
    margin-top: $layout-pad;
  }
  a {
    @include button($color: action);
  }
}

@include breakpoint($bkp-multi-min) {
  .admin-tasks {
    text-align: left;
  }
}

