/**
 * @file
 * Very simplistic output style.
 *
 * Being used for presenting deprecated content and maintenance messages.
 */

@import "sass_base";
@import "sass_mixins";
@import "sys_notification_styles_shared";

body {
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 2em auto;
  max-width: 800px;
  padding: 0.5em;
}
.messages-container {
  margin-bottom: $layout-pad*3;
}
h1 {
  font-weight: normal;
}
.field__label {
  font-weight: bold;
  margin: 1em 0;
}
.tpl--field {
  margin-top: $layout-pad*2;
  margin-bottom: $layout-pad*2;

  &:last-child {
    margin-bottom: 0;
  }
}
img,
video {
  max-width: 100%;
  height: auto;
}
table {
  font-size: 0.9em;
  width: 100%;
}
th {
  text-align: left;
  vertical-align: top;
}
th,
td {
  border: 1px solid color(border-light);
  padding: 0.25em 0.35em;
}
.table__wrap {
  max-width: 100%;
  overflow: auto;
}
code {
  font-size: 0.85em;
  word-wrap: break-word;
}
.messages .code {
  font-size: 0.9em;
}
pre {
  code {
    word-wrap: normal;
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: $layout-pad;
  }
}

// -----------------------------------------------------------------------------
// Growing screens.

@include breakpoint($bkp-wide-min) {
  .page-content {
    border: 1px solid silver;
    padding: 1em;
  }
}
